/* Choose Your Own Adventure Creator SCSS file */

$background: #fefefe;

html, body {
	background-color: $background;
}

/* Container formatting */

#backgroundcover {
	position: fixed;
	z-index: 1;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: #000;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;
	&.show {
		z-index: 1;
		opacity: 0.5;
		transition: opacity 0.5s ease;
	}
}

.adventure-container {
	position: relative;
}

/* Tree Visualization Styles */

g.node {
	font-family: Verdana, Helvetica;
	font-size: 12px;
	font-weight: bold;

	circle.node-dot {
		stroke-width: 1px;

		cursor: pointer;

		&:hover {
			stroke-width: 3px;
		}
	}

	&.blank circle.node-dot {
		fill: #DDDDDD;
		stroke: #ADADAD;
	}

	&.mc circle.node-dot {
		fill: #FF6666;
		stroke: #FF0000;
	}

	&.shortanswer circle.node-dot {
		fill: #66FF66;
		stroke: #00FF00;
	}
}

path.link {
	fill: none;
	stroke: gray;
}

p {
	margin: 0px;
}

/* Tools and dialog windows */


node-tools-dialog {
	position: absolute;

	width: 200px;
	height: 75px;

	background: #fff;
	border: solid 1px #BDBDBD;
	border-radius: 10px;

	text-align: center;

	.big-button {
		width: 160px;
		height: 30px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

node-creation-selection-dialog {
	position: absolute;
	left: 50%;
	z-index: 5;

	width: 600px;
	height: 600px;
	margin: 50px 0px 0px -300px;
	border-radius: 10px;
	background: #FFF;

	text-align: center;

	ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;

		li {
			display: inline-block;

			width: 200px;
			height: 200px;

			margin-top: 25px;

			border-radius: 5px;
			border: solid 1px #000;
			background: #FFF;

			text-align: center;

			cursor: pointer;

			&:nth-child(odd) {
				margin-right: 15px;
			}
		}
	}
}

.node-creation-screen {
	position: absolute;
	left: 50%;
	z-index: 6;

	width: 750px;
	height: 580px;
	margin: 50px 0px 0px -400px;

	padding: 10px 25px;

	border-radius: 10px;
	background: #FFF;

	.question-box {
		width: 80%;
		height: 250px;
	}
}