<!DOCTYPE html>
<html ng-app="AdventureCreator">
	<head>
		<title>Adventure Widget Player</title>
		<meta charset="utf-8" />

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="creator-assets/creator.css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="materia.creatorcore.js"></script>

		<!-- YOUR PREREQUISITES -->
		<script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-animate.min.js'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-sanitize.min.js'></script>

		<!-- D3.js -->
		<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

		<!-- MAIN CREATOR SCRIPT -->
		<script src="creator-assets/app.js"></script>
		<script src="creator-assets/services.js"></script>
		<script src="creator-assets/directives.js"></script>
		<script src="creator-assets/controllers.js"></script>

	</head>
	<body id="adventure-container" ng-controller="AdventureCtrl">
		<div id="backgroundcover" ng-click="hideCover()" ng-class="{ show: showTitleDialog || showIntroDialog }"></div>
		<node-tools-dialog ng-show="nodeTools.show" data-pos-x="{{nodeTools.x}}" data-pos-y="{{nodeTools.y}}">
			<button type="button" ng-click="addANode()">Add a Node</button>
			<button type="button" ng-click="dropNode()">Delete</button>
		</node-tools-dialog>
		<tree-visualization data="treeData" on-click="nodeSelected(data)"></tree-visualization>
		<p>
			<button type="button" ng-click="addNode(0, BLANK)">Add a Blank Node</button>
			<button type="button" ng-click="addNode(0, MC)">Add a Multiple Choice Node</button>
			<button type="button" ng-click="addNode(0, SHORTANS)">Add a Short Answer Node</button>
		</p>
	</body>
</html>

