<!DOCTYPE html>
<html ng-app="AdventureCreator">
	<head>
		<title>Adventure Widget Player</title>
		<meta charset="utf-8" />

		<!-- FONTS -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic' rel='stylesheet' type='text/css'>

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="creator-assets/creator.css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="materia.creatorcore.js"></script>

		<!-- YOUR PREREQUISITES -->
		<script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-animate.min.js'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-sanitize.min.js'></script>

		<!-- D3.js -->
		<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

		<!-- MAIN CREATOR SCRIPT -->
		<script src="creator-assets/app.js"></script>
		<script src="creator-assets/services.js"></script>
		<script src="creator-assets/directives.js"></script>
		<script src="creator-assets/controllers.js"></script>

	</head>
	<body id="adventure-container" ng-controller="AdventureCtrl">
		<toast ng-hide="!showToast" ng-click="hideToast()" class="fadeable">{{toastMessage}}</toast>
		<node-tools-dialog ng-show="nodeTools.show" data-pos-x="{{nodeTools.x}}" data-pos-y="{{nodeTools.y}}">
			<button type="button" class="big-button" ng-click="editNode()">Edit Node</button>
			<button type="button" ng-click="copyNode()">Copy</button>
			<button type="button" ng-click="dropNode()">Delete</button>
		</node-tools-dialog>
		<node-creation-selection-dialog ng-show="showCreationDialog && displayNodeCreation == 'none'">
			<h2>What kind of node do you want to create?</h2>
			<ul>
				<li ng-click="displayNodeCreation = MC">MC</li>
				<li ng-click="displayNodeCreation = SHORTANS">SA</li>
				<li ng-click="displayNodeCreation = HOTSPOT">HS</li>
				<li ng-click="displayNodeCreation = NARR">NARR</li>
			</ul>
		</node-creation-selection-dialog>
		<new-node-manager-dialog ng-show="newNodeManager.show" data-pos-x="{{newNodeManager.x}}" data-pos-y="{{newNodeManager.y}}">
			<h4>Where should this answer point to? ></h4>
			<ul>
				<li ng-class="{'selected' : newNodeManager.linkMode == NEW}" ng-click="selectLinkMode(NEW)">New Destination (Blank)</li>
				<li ng-class="{'selected' : newNodeManager.linkMode == EXISTING}"  ng-click="selectLinkMode(EXISTING)">An Existing Destination</li>
				<li ng-class="{'selected' : newNodeManager.linkMode == SELF}"  ng-click="selectLinkMode(SELF)">Loop Back to This Destination ( {{integerToLetters(editedNode.id)}} )</li>
			</ul>
		</new-node-manager-dialog>
		<node-creation-mc class="node-creation-screen" ng-show="displayNodeCreation == MC">
			<h2>Multiple Choice for {{editedNode.name}}</h2>
			<textarea class="question-box" ng-model="question" placeholder="Enter question here."></textarea>
			<button type="button">Add Media</button>
			<div class="answers-container">
				<ul>
					<li ng-repeat="answer in answers">
						<button type="button" class="delete-button" ng-click="removeAnswer($index)" ng-disabled="$index == 0">X</button>
						<input type="text" ng-model="answer.text" placeholder="Enter Answer Choice Here" />
						<input type="text" ng-model="answer.feedback" placeholder="Enter Optional Feedback" />
						<button type="button" class="answer-node-select" ng-class="{'managed' : answer.target == newNodeManager.target}" ng-click="manageNewNode($event, answer.target, answer.linkMode)">{{ integerToLetters(answer.target) }}</button>
					</li>
				</ul>
				<button class="add-answer" type="button" ng-click="newAnswer()">Add Answer Choice</button>
			</div>
		</node-creation-mc>

		<node-creation-sa class="node-creation-screen" ng-show="displayNodeCreation == SHORTANS">
			<h2>Short Answer for {{editedNode.name}}</h2>
		</node-creation-sa>

		<node-creation-hs class="node-creation-screen" ng-show="displayNodeCreation == HOTSPOT">
			<h2>HotSpot for {{editedNode.name}}</h2>
		</node-creation-hs>

		<node-creation-narr class="node-creation-screen" ng-show="displayNodeCreation == NARR">
			<h2>Narrative for {{editedNode.name}}</h2>
		</node-creation-narr>

		<div id="backgroundcover" ng-click="hideCoverAndModals()" ng-class="{ show: showBackgroundCover }"></div>
		<tree-visualization data="treeData" on-click="nodeSelected(data)"></tree-visualization>
	</body>
</html>

