<!DOCTYPE html>
<!-- INJECTS IE CLASSES ONTO HTML TAG -->
<!--[if IE 8 ]>    <html class="IE8"> <![endif]-->
<!--[if IE 9 ]>    <html class="IE9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
	<head>
		<title>Adventure Widget Player</title>
		<meta charset="utf-8" />

		<!-- STYLESHEETS -->
		<link href='http://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="player.css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="materia.enginecore.js"></script>
		<script type="text/javascript" src="materia.score.js"></script>

		<!-- OPTIONAL MATERIA JAVASCRIPT -->
		<!-- <script type="text/javascript" src="/js/materia.storage.manager.js"></script> -->
		<!-- <script type="text/javascript" src="/js/materia.storage.table.js"></script> -->

		<!-- YOUR PREREQUISITES -->
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.min.js"></script>

		<!-- MAIN PLAYER SCRIPT -->
		<script type="text/javascript" src="player.js"></script>
	</head>
	<body ng-app="AdventureApp" ng-controller="AdventureController">
		<header class="header">
			<h1>{{title}}</h1>
		</header>

		<div class="backgroundcover" ng-class="{ show: feedback }"></div>

		<div class="feedback" ng-class="{ show: feedback }">
			{{feedback}}
			<input class="feedback-button trans-button"
				type="button"
				value="OK"
				ng-click="closeFeedback()">
		</div>

		<section class="question clearfix" ng-switch="layout">
			<div ng-switch-when="image-only">
				<figure class="asset">
					<img src="{{ question.image }}" />
				</figure>
			</div>
			<div ng-switch-when="text-only">
				<h2 class="text">{{ question.text }}</h2>
			</div>
			<div ng-switch-when="right">
				<h2 class="text left">{{ question.text }}</h2>
				<figure class="asset right">
					<img src="{{ question.image }}" />
				</figure>
			</div>
			<div ng-switch-when="left">
				<figure class="asset left">
					<img src="{{ question.image }}" />
				</figure>
				<h2 class="text right">{{ question.text }}</h2>
			</div>
			<div ng-switch-when="bottom">
				<h2 class="text bottom">{{ question.text }}</h2>
				<figure class="asset center">
					<img src="{{ question.image }}" />
				</figure>
			</div>
			<div ng-switch-when="top">
				<figure class="asset center">
					<img src="{{ question.image }}" />
				</figure>
				<h2 class="text top">{{ question.text }}</h2>
			</div>
		</section>
		<section class="answers">
			<div class="mc" ng-show="type == MC">
				<a href="#" class="answer" ng-repeat="answer in answers" ng-click="handleAnswerSelection(answer.link, answer.index)" data-index="{{answer.index}}" data-link="{{answer.link}}">) {{answer.text}}</a>
			</div>
			<div class="sa" ng-show="type == SHORTANS">
				<input type="text" class="short-answer" ng-model="response" ng-enter="handleShortAnswerInput()" />
				<input type="button" class="trans-button" value="Submit" ng-click="handleShortAnswerInput()"/>
			</div>
			<div class="hotspot" ng-if="type == HOTSPOT">
				<div ng-repeat='answer in answers'
					class='answerbubble'
					ng-click="handleAnswerSelection(answer.link,answer.index)"
					ng-show='answer.hover'
					style='top:{{answer.balloontop}}px;left:{{answer.balloonleft}}px;'>
					{{answer.text}}
				</div>
				<svg version="1.1"
					class="hotarea"
					xmlns:cc="http://web.resource.org/cc/"
					xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
					xmlns:dc="http://purl.org/dc/elements/1.1/"
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					xml:space="preserve">
					<g ng-repeat="answer in answers"
						ng-attr-transform="matrix(1 0 0 1 {{answer.options.svg.x}} {{answer.options.svg.y}})"
						ng-mouseover='answer.hover=true'
						ng-mouseout='answer.hover=false'>
						<ellipse ng-if="answer.options.svg.type == 'ellipse'"
							ng-attr-cx="0"
							ng-attr-cy="0"
							ng-attr-rx="{{answer.options.svg.r + answer.options.svg.scaleXFactor}}"
							ng-attr-ry="{{answer.options.svg.r + answer.options.svg.scaleYFactor}}"
							fill="{{answer.options.svg.fill}}"
							stroke="{{answer.options.svg.fill}}"
							stroke-width="{{answer.options.svg.stroke}}"
							fill-opacity="0.5"
							ng-click="handleAnswerSelection(answer.options.link,answer.index)" />

						<rect ng-if="answer.options.svg.type == 'rect'"
							ng-attr-x="0"
							ng-attr-y="0"
							ng-attr-width="{{answer.options.svg.width + answer.options.svg.scaleXFactor}}"
							ng-attr-height="{{answer.options.svg.height + answer.options.svg.scaleYFactor}}"
							fill="{{answer.options.svg.fill}}"
							stroke="{{answer.options.svg.fill}}"
							stroke-width="{{answer.options.svg.stroke}}"
							fill-opacity="0.5"
							ng-click="handleAnswerSelection(answer.options.link,answer.index)" />

						<polygon ng-if="answer.options.svg.type == 'polygon'"
							ng-attr-points="{{answer.options.svg.points}}"
							fill="{{answer.options.svg.fill}}"
							stroke="{{answer.options.svg.fill}}"
							stroke-width="{{answer.options.svg.stroke}}"
							fill-opacity="0.5"
							ng-click="handleAnswerSelection(answer.options.link,answer.index)" />
					</g>
				</svg>
				<img src="{{question.image}}">
			</div>
			<div class="trans" ng-if="type == TRANS">
				<input type="button" class="trans-button" ng-class='{ left: question.layout == 2, right: question.layout == 3 }' value="Continue" ng-click="handleAnswerSelection(link,0)"/>
			</div>
		</section>
	</body>
</html>

