/* Adventure 2.0 Creator Styles */

@import '../../assets/icomoon.css';

/* Variable definitions */

$black: #000000;
$white: #ffffff;
$red: #b90000;
$red-lighter: #de0000;
$red-lightest: #ffd7d7;

$yellow: #ffe400;

$blue: #3d90b1;
$blue-lighter: #49afd7;
$blue-lightest: #bdecff;
$blue-focus: #66dbff;

$tealish: #61a47f;

$orange: #ff8f11;

$green: #d5f7b3;

$gray-darker: #333333;
$gray: #888888;
$gray-lighter: #cccccc;
$gray-lightest: #eaeaea;


$background: $gray-lighter;
$color-primary: $white;
$color-accent: $blue;
$color-accent-highlight: $blue-lighter;
$color-selection-hover: $blue-lightest;
$color-mode-accent: $tealish;

$color-blank: #ADADAD;
$color-mc: #60b973;
$color-sa: #6ea0aa;
$color-hotspot: #ba83c7;
$color-narr: #ffc656;
$color-end: $red;

$shadow-dialog: 0px 3px 3px $gray;
$shadow-small: 0px 0px 2px $gray;
$shadow-small-highlight: 0px 0px 5px $gray;

$edit-popup-width: 750px;
$edit-popup-padding: 20px;
$edit-popup-content-width-full: 708px;
$edit-popup-standard-question-width: 600px;

$edit-popup-content-width-half: 340px;

$misc-popup-width: 600px;

$edit-popup-less-height: 600px;
$edit-popup-standard-height: 620px;
// $edit-popup-extra-height: 620px;
// $edit-popup-less-height: 570px;

$node-creation-panels-width: 1200px;

$z-index-hidden: -1;
$z-index-default: 0;
$z-index-behind-cover: 5;
$z-index-background-cover: 10;
$z-index-dialog-background-cover: 75;
$z-index-modal-low-priority: 25;
$z-index-modal: 50;
$z-index-modal-svg: 75;
$z-index-modal-dialog: 100;
$z-index-very-important: 1000;

html, body {
	height: 100%;

	margin: 0px;
	padding: 0px;

	background-color: $white;

	font-family: 'Lato', sans-serif;
}

@mixin user-select-none() {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
}

@mixin calc($property, $expression) {
	#{$property}: -webkit-calc(#{$expression});
	#{$property}: calc(#{$expression});
}

/* Component Styling */

.arrow-right {
	border-top: 13px solid transparent;
	border-left: 8px solid $color-accent;
	border-bottom: 13px solid transparent;
}

.arrow-left {
	border-top: 13px solid transparent;
	border-right: 8px solid $color-accent;
	border-bottom: 13px solid transparent;
}

.arrow-bottom {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid $gray-darker;
}

.arrow-top {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid $gray-darker;
}

button {
	cursor: pointer;
	height: 30px;
}

div.fancy-toggle {
	position: relative;
	width:80px;
	height:26px;

	margin: 3px auto 0px auto;

	transform:scale(0.8);
	-webkit-transform:scale(0.8);
	-moz-transform:scale(0.8);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);

	background:$color-accent-highlight;

	&:after {
		position: absolute;
		right: 10px;
		z-index: $z-index-default;

		content: 'OFF';

		font: 12px/26px Arial, sans-serif;
		color: $gray-darker;
		font-weight: bold;
	}

	&:before {
		position: absolute;
		left: 10px;
		z-index: $z-index-default;

		content: 'ON';

		font: 12px/26px Arial, sans-serif;
		color: $color-primary;
		font-weight: bold;
	}

	label {
		position: absolute;
		top: 3px;
		left: 3px;
		z-index: $z-index-behind-cover;

		display: block;
		width: 34px;
		height: 20px;

		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		-o-transition: all .2s ease;
		-ms-transition: all .2s ease;
		transition: all .2s ease;
		cursor: pointer;

		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;

		-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
		background: #fcfff4;

		background: -webkit-linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		background: -moz-linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		background: -o-linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		background: -ms-linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	}

	input[type=checkbox]:checked + label {
		left: 43px;
	}
}

/* Container formatting */

#backgroundcover, #infobackgroundcover {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: $black;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;
	&.show {
		z-index: $z-index-background-cover;
		opacity: 0.3;
		transition: opacity 0.5s ease;
	}
}

#infobackgroundcover {
	&.show {
		z-index: $z-index-dialog-background-cover;
		opacity: 0.3;
		transition: opacity 0.5s ease;
	}
}

mode-manager-overlay {
	position: absolute;
	z-index: $z-index-very-important;

	top: -60px;
	left: 0;
	width: 100%;
	height: 42px;

	padding-top: 18px;

	color: $color-primary;
	background: $color-mode-accent;

	text-align: center;

	font-size: 1.1em;

	transition: all 0.5s;

	&.enabled {
		top:0;
	}

	button {
		position: absolute;
		top: 15px;
		right: 20%;
		padding: 6px 18px;
		text-align: center;

		font-size: 15px;
	}
}

header.title-header {
	display: block;
	width: 100%;
	height: 46px;
	padding-top: 14px;

	background: $color-accent;

	h1 {
		display: inline-block;
		margin: 0px 0px 0px 15px;

		font-size: 24px;
		font-weight: 300;
		font-family: 'Lato', sans-serif;

		color: $color-primary;

		cursor: pointer;
	}

	img.logo {
		display: inline-block;
		float: left;
		margin-left:20px;
	}

	div.edit-title {
		display: inline-block;
		height: 24px;

		margin-left: 10px;
		text-decoration: underline;

		color: $color-primary;

		cursor: pointer;
	}

	.header-options-box {

		float: right;
		margin-top: -6px;
		margin-right: 25px;

		text-align: center;

		color: $color-primary;
		font-size: 12px;

		input[type=checkbox] {
			visibility: hidden;
		}

		button.header-options-button {
			width: 90%;
			margin: 3px auto 0px auto;
		}
	}
}

#adventure-container {
	position: relative;
	width: 100%;
	@include calc(height, "100% - 70px");
	min-width: $edit-popup-width;

	overflow-x: hidden;
	overflow-y: hidden;
	// overflow-y: auto;

	border-bottom: solid 1px $gray-lighter;
}

.work-in-progress-warning {
	position: absolute;
	left: 5px;
	bottom: 5px;
	padding: 5px 10px;

	font-weight: bold;
	color: $color-primary;
	background-color: $red;

	border: solid 1px $gray-lighter;
	border-radius: 3px;
}

/* Tree Visualization Styles */

#tree-svg {

	@include user-select-none();

	&.draggable {
		cursor: move;
	}
}

g.node {
	font-family: Verdana, Helvetica;
	font-size: 12px;
	font-weight: bold;

	cursor: pointer;

	fill-opacity: 1;

	&:hover {
		circle {
			stroke-width: 2px;
		}
	}

	circle.node-dot {
		stroke-width: 1px;
	}

	&.blank {

		.node-type {
			fill: $color-blank;
		}

		circle.node-dot {
			fill: $white;
			stroke: $color-blank;
		}
	}

	&.copyMode.blank {
		circle.node-dot {
			stroke: $color-accent;
			stroke-width: 3px;
		}
	}

	&.mc {
		.node-type {
			fill: $color-mc;
		}

		circle.node-dot {
			fill: $white;
			stroke: $color-mc;
		}
	}

	&.shortanswer {

		.node-type {
			fill: $color-sa;
		}

		circle.node-dot {
			fill: $white;
			stroke: $color-sa;
		}
	}

	&.hotspot {

		.node-type {
			fill: $color-hotspot;
		}

		circle.node-dot {
			fill: $white;
			stroke: $color-hotspot;
		}
	}

	&.narrative {

		.node-type {
			fill: $color-narr;
		}

		circle.node-dot {
			fill: $white;
			stroke: $color-narr;
		}
	}

	&.end {

		.node-type {
			fill: $color-end;
		}

		circle.node-dot {
			fill: $white;
			stroke: $color-end;
		}
	}

	&.focused {
		circle.node-dot {
			stroke: $red;
			stroke-width: 3px;
		}
	}

	&.ineligible {
		circle.node-dot {
			fill: $red-lightest;
			stroke: $red !important;
			stroke-width: 3px !important;
		}
	}

	rect {
		fill: $white;
		stroke: $gray-lightest;
		stroke-width: 2px;
	}

	g.warning-symbol {
		stroke: $black;
		fill: $yellow;

		.exclamation {
			stroke: none;
			fill: $black;
		}
	}

	text {
		fill: $black;
	}

	.leftover-items {
		font-size: 10px;
	}
}

g.bridge {

	opacity: 0;

	cursor: pointer;

	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;

	circle {

		// -webkit-transition: opacity 0.5s;
		// transition: opacity 0.5s;
	}

	path {
		// opacity: 0;
		fill: $white;
	}

	&:hover {
		// circle {
		// 	opacity: 0.8;
		// }
		opacity: 0.8;
	}
}

path.link {
	fill: none;
	stroke: $gray-darker;
	opacity: 0.5;

	&.special {
		stroke: $gray-darker;
		opacity: 0.7;
		stroke-dasharray: 5,3;
	}
}

circle.link-req-items {
	fill: white;
	stroke:  $blue;
}

.link-req-items {
	display: none;
	color: $blue;

	&.show {
		display: block;
	}
}

circle.loopback {
	fill: none;
	stroke: $gray-darker;
	opacity: 0.7;
	stroke-dasharray: 5,3;
}

/* General element styles */

span.bold {
	font-weight: bold;
}

p {
	margin: 0px;
}

button {
	background: $color-primary;
	padding: 5px 10px;
	border: none;
	border-radius: 2px;

	font-family: 'Lato', sans-serif;
	font-weight: 700;

	box-shadow: $shadow-small;

	-webkit-transition: background 0.5s;
	transition: background 0.5s;

	// -webkit-animation-iteration-count: infinite;
	// animation-iteration-count: infinite;

	&:hover {
		color: $color-accent;

		&:disabled {
			color: $gray-lighter;
			cursor: auto;
		}
	}

	&.important-button {
		background: $color-accent;
		color: $white;

		font-weight: 900;

		&:hover {
			background: $color-accent-highlight;
		}
	}

	&.delete-button {
		background: $red;
		color: $white;

		&:hover {
			background: $red-lighter;
		}

		&:disabled {
			background: $gray;
		}
	}


	&.hide-answer-button {
		height: 35px;
		width: 35px;
		padding: 5px 0 0 0;
		position: relative;

		img {
			height: 25px;
			width: 25px;
		}

		.hide-answer-tooltip {
			position: absolute;
			top: 45px;
			width: 100px;
			background: $blue;
			color: $white;
			border-radius: 5px;
			padding: 5px;

			&::before {
				position: absolute;
				top: -8px;
				left: 10px;
				content: "";
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 10px solid $blue;
			}
		}
	}
}

.mode-header {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 6px 15px;

	background: $color-mode-accent;
	color: $color-primary;

	text-align: right;
	border-bottom-left-radius: 5px;
}

.zoom-buttons {
	position: absolute;
	top: 15px;
	left: 15px;

	@include user-select-none();

	.zoom-status {
		width: 100%;

		margin-bottom: 5px;

		background: $color-primary;

		text-align: center;
		font-size: 12px;
	}

	.zoom-button {
		display: block;

		margin-left: 4px;

		background: $color-primary;

		box-shadow: $shadow-small;

		cursor: pointer;

		&:hover {

			path {
				fill: $color-accent;
			}
		}

		&:active {
			background: $color-accent;

			path {
				fill: $white;
			}
		}

		path {
			fill: $gray-darker;
		}
	}

	button {
		margin: 10px 0px 0px 0px;
	}
}

.inventory-items {
	position: absolute;
	top: 15px;
	right: 15px;
	display: flex;
	flex-direction: column;
	align-items: right;
	padding: 10px;

	font-weight: bold;

	background-color: $white;
	border: 1px solid $gray-lighter;
	box-shadow: $shadow-small;
	border-radius: 5px;

	&:hover {
		cursor: pointer;
		color: $color-accent;

		img {
			transform: scale(1.1);
		}
	}

	img {
		position: absolute;
		left: 5px;
		top: 2px;
		width: 32px;
		height: 32px;

		transition: transform 0.4s;
	}

	p {
		display: inline-block;
		// margin: 0 0 0 10px;
		margin: 0;
		padding-left: 37px;
		font-size: 14px;

		text-align: right;
	}

	.item-editor-button {
		background-color: $blue;
		color: $white;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: fit-content;

		&:hover {
			background-color: $blue-lighter;
			color: $white;
		}

		.plus-sign {
			font-size: 3em;
		}

		> div {
			display: flex;
			flex-direction: row;
		}

		img {
			width: 35px;
			height: 35px;
		}
	}

	.items-drag-box {
		display: flex;
		flex-direction: column;
		grid-gap: 2px;
		padding-top: 5px;
		max-height: 210px;
		overflow-y: auto;

		div {
			padding: 5px 10px;
			margin-right: 5px;
			border-radius: 20px;

			position: relative;

			display: flex;
			flex-direction: row;
			align-items: center;
			grid-gap: 10px;

			border: 2px solid $blue-lightest;

			span {
				overflow: hidden;
			}

			.item-icon-small {
				width: 35px;
				height: 35px;
				object-fit: cover;
			}

			// &:hover {
			// 	cursor: grab;
			// }

			// &:active {
			// 	cursor: grabbing;
			// }
		}
	}
}


/* #### DEBUG #### */
button.temp-qset-gen-button {
	float: right;
	margin-right: 25px;
}

debug-qset-loader, debug-qset-generator {
	position: absolute;
	width: 450px;

	top: 150px;
	left: 50%;
	margin-left: -175px;
	padding-bottom: 25px;

	z-index: $z-index-modal;

	background: $color-primary;
	border-radius: 5px;

	box-shadow: $shadow-small;

	h4 {
		width: 100%;
		box-sizing: border-box;

		margin: 0px;
		padding: 10px 25px;

		border-top-left-radius: 5px;
		border-top-right-radius: 5px;

		color: $color-primary;
		background: $color-accent;
	}

	textarea {
		width: 400px;
		height: 300px;
		margin-left: 25px;
		margin-top: 25px;
	}

	button {
		margin-top: 15px;
		margin-left: 25px;
	}
}

/* #### NOT DEBUG ANYMORE #### */

/* Tools and dialog windows */

.intro-screen {
	position: absolute;
	width: 620px;
	top: 10%;
	left: 50%;
	z-index: $z-index-modal;

	margin-left: -325px;

	padding: 15px 15px 25px 20px;

	border-radius: 5px;

	background: $color-primary;

	h2 {
		vertical-align: top;

		font-weight: 300;

		font-size: 26px;
	}

	p {
		width: 300px;

		margin: 15px 0px 15px 0px;

		font-weight: 300;
		font-size: 18px;

		&.bold {
			font-weight: 700;
		}
	}

	img {
		float: right;
		width: 250px;
		height: 100%;
		top: 0px;
		margin: 20px 10px 20px 10px;
	}

	button {
		margin-top: 20px;
		padding: 10px 20px;
		font-weight: 400;
		font-size: 18px;
		height: 50px;
	}
}

.score-mode-screen {
	position: absolute;
	width: 620px;
	top: 10%;
	left: 50%;
	z-index: $z-index-modal;
	margin-left: -325px;

	// padding: 15px 15px 25px 20px;
	padding: 0px;

	border-radius: 5px;

	background: $color-primary;

	font-family: Verdana, Helvetica;
	font-size: 15px;

	p {
		margin: 15px 15px 15px 20px;

		font-weight: 100;
	}

	button {
		// padding: 15px 10px;
		font-size:14px;
	}

	h4 {
		width: 100%;
		box-sizing: border-box;

		margin: 0px;
		padding: 10px 25px;

		border-top-left-radius: 5px;
		border-top-right-radius: 5px;

		color: $color-primary;
		background: $color-accent;
	}

	.score-mode-selection {
		padding: 20px 0px 25px 0px;

		border-top: solid 1px $gray-lightest;

		text-align: center;
	}

	.internal-score-screen-edit-shortcut {
		position: relative;
		width: 100%;
		padding:10px 0px 25px 0px;
		background: $gray-lightest;

		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;

		textarea {
			margin-left: 20px;
			width: 80%;
			height: 4em;

			border: solid 1px #cccccc;
			border-radius: 3px;
			font-size: 13px;
		}

		button {
			position: absolute;
			bottom: 60px;
			right: 25px;
			padding: 5px 10px;
			font-size: 12px;
		}
	}
}

toast {
	position: absolute;
	z-index: $z-index-very-important;

	width: 600px;
	min-height: 30px;

	bottom: 35px;
	left: 50%;
	margin-left: -300px;

	padding-top: 5px;

	border-radius: 5px;

	text-align: center;

	color: $color-primary;

	background: $gray-darker;
	box-shadow: $shadow-small;
}

node-tooltips {
	position: absolute;

	.tooltip {
		max-width: 250px;
		margin: 0px 0px 5px 0px;
		padding: 5px 10px;

		border-radius: 5px;
		background: $gray-darker;

		color: $color-primary;
		font-size: 0.7em;

		.tooltip-title {
			display: block;
			font-size: 0.6em;

			margin-bottom: 3px;
		}
	}

	p {
		display: flex;
		flex-direction: row;
		align-items: center;
		grid-gap: 10px;

		img, span {
			width: 20px;
			height: 20px;
		}
	}
}

required-items-tooltip {
	position: absolute;
	max-width: 250px;
	margin: 0px 0px 5px 0px;
	padding: 5px 10px;

	border-radius: 5px;
	background: $gray-darker;

	color: $color-primary;
	font-size: 0.7em;

	.tooltip-title {
		display: block;
		font-size: 0.6em;

		margin-bottom: 3px;
	}

	p {
		display: flex;
		flex-direction: row;
		align-items: center;
		grid-gap: 10px;

		img {
			width: 20px;
		}
	}
}

.item-selection, .item-manager {
	opacity: 0;
	height: 0;
	overflow: hidden;
	max-height: 90%;
	z-index: -1;
	position: relative;

	&.show {
		opacity: 1;
		overflow: visible;
		transition: opacity 0.3s ease;
		padding: 5px 25px 25px 25px;
		z-index: $z-index-modal-dialog;

		box-sizing: border-box;

		border-radius: 2px;

		box-shadow: 0px 0px 5px #888;
	}
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	/** Show modal on screen widths < 1000px **/
	@media screen and (max-width: 1400px) {
		&.item-panel {
			display: none;
		}
	}
	/** Show two panels on screen widths >= 1000px **/
	@media screen and (min-width: 1400px) {
		&.item-modal {
			display: none;
		}
	}

	.item-header {
		border-bottom: 1px solid $gray-lighter;

		.item-heading {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			box-sizing: border-box;
			align-items: center;
			grid-gap: 10px;

			h3 {
				display: block;
				max-height: 2.5em;
				overflow: hidden;
			}

			span.instructions {
				display: block;
				font-size: 12px;
				font-style: italic;
				color: $gray-darker;
			}

			&.sub-heading {
				justify-content: start;

				h4 {
					margin: 1em 0;
				}
			}

			.item-heading-icons {
				display: flex;
				align-items: center;

				img#arrow {
					height: 20px;
					width: 20px;
				}
				img {
					height: 35px;
					width: 35px;
				}
			}
		}

		.hide-popup {

			&:hover {
				cursor: pointer;
				color: $red;
			}
		}

		.item-instructions {
			margin: 0 0 10px 0;
		}

		.invalid-quantity-message {
			color: $red;
		}
	}

	.item-instructions {
		font-size: 12px;
		font-style: italic;
		color: $gray-darker;
	}

	ul li, .options-bar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 5px;
		align-items: start;
		flex-wrap: wrap;

		padding: 10px;

		font-size: 14px;

		border: solid 1px transparent;
		box-sizing: border-box;

		-webkit-transition: background 0.5s;
		transition: background 0.5s;

		&.options-bar {
			align-items: center;
			min-width: 425px;
			padding-bottom: 0px;
			margin: 0;
		}

		.icon-uploader-options {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 20px;

			> * {
				height: 100%;
			}
		}

		.selector {
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;
			grid-gap: 20px;
			height: 35px;
			position: relative;

			::-webkit-scrollbar {
				background-color: $gray;
			}

			.row {
				display: flex;
				flex-direction: row;
				justify-content: end;
			}

			img {
				height: 35px;
				width: 35px;
			}

			.arrow-bottom {
				position: static;
				border-top-color: $gray-lightest;
			}

			.arrow-top {
				position: static;
				border-bottom-color: $gray-lightest;
			}

			dt {
				display: flex;
				flex-direction: row;
				align-items: center;
				grid-gap: 10px;
				padding: 0 10px;
				min-height: 35px;
				background-color: $gray-lightest;
			}

			.selected-item {
				justify-content: space-between;
				background-color: $gray-lighter;
			}

			.option-contents {
				display: flex;
				flex-direction: row;
				align-items: center;
				grid-gap: 10px;
			}

			dt:hover {
				cursor: pointer;
			}

			dl {
				background-color: $gray-lighter;
				// border: 1px solid $gray-darker;
				margin: 0;
				position: absolute;
				bottom: 0;
				width: 200px;
				border-radius: 10px;
				overflow: hidden;
			}

			button {
				min-width: 80px;
			}

			button:first-of-type {
				margin-left: 220px;
			}

			.blank-selection {
				width: 100px;
				height: 2em;
				justify-content: end;
				background-color: $gray-lighter;
				border-radius: 10px;
			}

			.options {
				max-height: 150px;
				overflow: auto;
				scrollbar-color: $gray;

				>:hover {
					background-color: $gray-lighter;
				}
			}
		}

		> input {
			flex-grow: 2;
		}

		.item-details {
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 100%;
			gap: 10px;
			position: relative;
			box-sizing: border-box;

			.delete-button {
				height: 24px;
				width: 24px;
				padding: 0;
			}
		}

		.item-icon {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: fit-content;
			height: fit-content;
			border-radius: 2px;
			margin-right: 10px;

			span {
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				visibility: hidden;

				&.show {
					visibility: visible;
				}
			}

			img {
				max-height: 45px;
				max-width: 45px;
				object-fit: cover;
			}

			.no-icon {
				width: 38px;
				height: 38px;
				border: dashed 2px $gray;
				border-radius: 5px;
			}

			button {
				min-width: 85px;
				margin-top: 5px;
			}
		}

		.item-content {
			display: flex;
			flex-direction: column;
			flex-grow: 2;
			max-width: 75%;
			justify-content: center;

			.item-description {
				color: $gray-darker;
				overflow: auto;
				max-height: 120px;
				p {
					font-style: italic;
				}
			}

			.advanced-button {
				color: $blue;
				display: flex;
				align-items: center;
				gap: 5px;

				&:hover {
					text-decoration: underline;
					cursor: pointer;
				}

				.arrow-bottom {
					border-left: 7px solid transparent;
					border-right: 7px solid transparent;
					border-top: 7px solid $blue;
				}

				.arrow-top {
					border-left: 7px solid transparent;
					border-right: 7px solid transparent;
					border-bottom: 7px solid $blue;
				}
			}

			.silent-option {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 5px;
				padding-top: 5px;

				img {
					height: 20px;
					width: 20px;
				}
			}

			textarea, input[type="text"] {
				width: 100%;
				max-width: 350px;
				box-sizing: border-box;
			}

			.item-name {
				font-weight: bold;
			}
		}

		.item-minimum {
			input {
				width: 50px;
				height: 1em;
			}
		}

		.item-options {
			display: flex;
			flex-grow: 1;
			align-items: center;
			gap: 10px;
			flex-wrap: wrap;
			justify-content: end;

			.item-quantity-options {
				display: flex;
				flex-direction: column;
				grid-gap: 10px;
				justify-content: end;

				.item-minimum, .item-maximum {
					display: flex;
					flex-direction: row;
					grid-gap: 10px;
					align-items: center;
				}
				.quantity-explanation {
					font-size: 12px;
					font-style: italic;

					code {
						font-style:normal;
						background: $gray-lighter;
						padding: 2px 5px;
						border: 1px solid $white;
						border-radius: 3px;
						display: inline-block;
					}
				}
			}

			.item-quantity {
				display: flex;
				flex-direction: row;
				grid-gap: 10px;
				align-items: center;

				input {
					width: 70px;
					box-sizing: border-box;

					&.uncapped-max-option, &.no-minimum-option {
						width: auto;
					}
				}

				.ng-invalid-pattern {
					border: $red solid 1px;
				}
			}

			button {

				&.save {
					background: $color-accent;
					color: $color-primary;

					&:hover {
						background: $color-accent-highlight;
					}
				}
			}
		}

		&:not(.options-bar):hover {
			border: solid 1px $gray-lighter;
			border-radius: 10px;

			background: rgba(255,255,255,0.5);
		}

		&.selected {
			border: solid 1px $gray-lighter;
			border-radius: 10px;

			background: rgba(255,255,255,0.5);
		}
	}

	ul.list-items {
		list-style-type: none;
		padding: 10px 0px 0px 0px;
		overflow: auto;
		overflow-x: hidden;
		height: 100%;
		margin: 0;
	}

	input {
		height: 2em;
		font-weight: 1.2em;
		padding: 5px 10px 5px 10px;

		border: solid 1px $gray-lighter;
		border-radius: 3px;
	}

	button:not(.delete-button) {
		background: $color-accent;
		color: $color-primary;

		&:hover {
			background: $color-accent-highlight;
		}
	}

	.advanced-option-bar {
		display: flex;
		align-items: end;
		flex-direction: row;
		justify-content: space-between;
	}

	.advanced-option {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		gap: 15px;
		padding: 0 10px;

		input {
			width: auto;
			height: 1em;
		}

		button.hide-answer-button {
			display: flex;
			flex-direction: row;
			align-items: center;
			color: $gray-darker;
			gap: 20px;
			padding: 20px;
			background-color: $white;

			img {
				width: 25px;
				height: 25px;
			}

			&:hover {
				background-color: $gray-lighter;
			}


			&.hide-answer {
				background-color: $gray-lighter;
			}

		}
	}
}

.item-manager {

	&.show {
		position: absolute;
		left: 25%;
		width: 80%;
		height: 80% !important;
		max-width: 700px;
		margin: auto;
		z-index: $z-index-modal;
		margin-top: 20px;
		padding-top: 63px;
		background-color: $color-primary;
	}

	> .item-header {
		position: absolute;
		width: calc(100% - 50px);
		min-height: 63px;
		top: 0;
		left: 0;

		padding: 0 25px;
		color: $color-primary;
		background: $color-accent;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
	}

	.list-items {
		padding-top: 70px;
	}

	.arrow-left {
		position: absolute;
		left: 112px;
		border-right-color: $gray-lightest;
		z-index: $z-index-modal-dialog;
	}

	.item-icon:hover {
		cursor: pointer;
	}
}


item-icon-selector {
	position: absolute !important;
	top: 10px;
	left: 120px;
	z-index: $z-index-modal;
	width: 75%;
	max-height: 500px !important;
	padding-bottom: 10px;
	background: $gray-lightest;

	&.show {

		height: 100% !important;
	}

	.item-header {
		color: $black;
		background: $gray-lightest;
	}

	ul.icons-list {
		overflow: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		grid-gap: 10px;
		padding-left: 25px;

		li {
			width: fit-content;
			height: fit-content;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0;
			border: 1px solid transparent;
			padding: 0;

			img {
				max-height: 64px;
				max-width: 64px;
				object-fit: cover;
			}

			&:hover {
				cursor: pointer;
				background-color: $gray-lighter;
			}

			&.selectedIcon {
				background-color: $blue-focus;
			}
		}
	}
}

.item-modal {
	background-color: $color-primary;

	&.required-item-modal.show {
		position: fixed;
		height: 63% !important;
		width: 56%;
		top: 120px;
		left: -200px;
		right: 0;
		margin: auto;

		.arrow-right {
			position: absolute;
			right: -8px;
			top: 155px;
			border-left-color: $gray-lightest;
		}

		.save-button {
			bottom: 15px;
		}
	}

	&.required-item-modal-hotspot {
		position: absolute;
		top: 40px;
		left: 120px;
		width: 500px;

		&.show {
			height: auto;
			max-height: none;
		}

		.arrow-left {
			position: absolute;
			left: -8px;
			top: 135px;
			border-right-color: $gray-lightest;
		}
	}

	&.give-item-modal.show {
		position: absolute;
		height: 75% !important;
		width: 88%;
		bottom: 100px;
		right: 30px;
	}

	.arrow-bottom {
		position: absolute;
		bottom: -10px;
		right: 105px;
		border-top-color: $gray-lightest;
	}
}

.item-panel {

	&.show {
		height: 100% !important;
		max-height: 100%;
		min-width: 300px;
	}

	.item-details {
		flex-wrap: wrap;
	}

	.item-container {
		flex-direction: column;
		grid-gap: 10px;
	}

	.item-header {
		span.instructions {
			display: block;
			font-size: 12px;
			font-style: italic;
			color: $gray-darker;
			margin-bottom: 0.5em;
		}

		h4 {
			margin: 1em 0;
		}
	}



}

/* For give-item and required-item modals and panels */
.item-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: auto;
	overflow-x: hidden;
	height: 100%;

	> div {
		min-width: 50%;
		display:flex;
		flex-direction: column;
		padding-right: 10px;
		box-sizing: border-box;
	}

	.list-items li {
		display:flex;
		flex-direction: column;

		> div {
			display: flex;
		}
	}

	.list-items {
		max-height: 100%;
	}
}

title-editor {
	position: absolute;
	width: 500px;

	top: 150px;
	left: 50%;
	margin-left: -200px;
	padding-bottom: 25px;

	z-index: $z-index-modal;

	background: $color-primary;
	border-radius: 5px;

	h4 {
		width: 100%;
		box-sizing: border-box;

		margin: 0px;
		padding: 10px 25px;

		border-top-left-radius: 5px;
		border-top-right-radius: 5px;

		color: $color-primary;
		background: $color-accent;
	}

	input {
		width: 385px;
		height: 2em;
		font-weight: 1.2em;
		padding: 5px 10px 5px 10px;
		margin: 25px 5px 10px 20px;

		border: solid 1px $gray-lighter;
		border-radius: 3px;
	}
}

tree-history {
	position: absolute;
	right: 5px;
	bottom: 0px;
	z-index: $z-index-behind-cover;

	width: 240px;
	font-size: 0.8em;

	text-align: center;

	// border: solid 1px $gray-darker

	&.minimized {
		top: calc(100% - 55px);

		header img {
			top: 5px;
			transform: rotate(180deg);
		}
	}

	div.undo-redo-options {
		position: relative;
		top: 0px;
		width: 100%;
		margin-bottom: 5px;

		button {
			width: 40%;
			font-size:1.1em;
			// background: $color-accent;
			// color: $white;

			@include user-select-none();

			cursor: pointer;

			&:first-child {
				margin-right: 5%;
			}
		}
	}

	header {
		position: relative;
		display: block;
		padding-top: 3px;
		padding-bottom: 5px;
		// font-size: 1.1em;
		// font-weight: bold;

		background: $color-accent;
		color: $white;

		user-select: none;

		cursor: pointer;

		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		// border-bottom: solid 1px $white;

		&:hover {
			background: $color-accent-highlight;
		}

		img {
			position: absolute;
			top: 11px;
			left: 10px;
			width: 9px;
			height: 9px;

			transform: rotate(0deg);
			transition: 250ms all;
		}
	}

	div.action-history {
		width: 238px;
		min-height: 10px;

		padding: 3px 0px 3px 0px;

		background: $white;

		border-left: solid 1px $gray-lighter;
		border-right: solid 1px $gray-lighter;

		&:hover {
			background: $color-accent;
			color: #ffffff;
			transition: background 500ms;
			cursor: pointer;
		}

		&.selectedAction {
			background: $color-accent;
			color: #ffffff;
		}
	}

	&.disabled {
		div.undo-redo-options {
			button {
				color: $gray-lightest;

				&:hover {
					color: $gray-lightest;
				}
			}
		}
		header {
			background: $gray;
			cursor: default;

			&:hover {
				background: $gray;
			}
		}

		div.action-history {
			color: $gray;
			&:hover {
				background: $gray-lightest;
			}
		}

	}
}

node-tools-dialog {
	position: absolute;
	z-index: $z-index-modal-low-priority;

	width: 200px;
	// height: 85px;

	padding-top: 10px;
	padding-bottom: 15px;

	background: $color-primary;
	// border: solid 1px #BDBDBD;
	border-radius: 6px;

	box-shadow: $shadow-small;

	text-align: center;

	button {
		margin-bottom: 5px;
	}

	.important-button {
		width: 160px;
		height: 30px;
		margin-top: 10px;
		margin-bottom: 15px;
	}

	.warning-dialog-section {
		width: 180px;
		margin-top: 10px;

		padding: 10px;

		font-size: 9pt;

		background: $gray-lighter;

		p {
			margin: 0px 0px 15px 0px;
		}

		&.convert-dialog {
			button {
				width: 100%;
			}
		}
	}
}

new-node-manager-dialog {
	position: fixed;
	z-index: $z-index-very-important;
	width: 400px;
	height: 150px;

	left: 50%;
	// top: 50%;
	margin-left: -200px;

	border-radius: 5px;

	background: $color-primary;
	box-shadow: $shadow-small;

	h4 {
		width: 100%;
		box-sizing: border-box;

		margin: 0px;
		padding: 10px 25px;

		border-top-left-radius: 5px;
		border-top-right-radius: 5px;

		color: $color-primary;
		background: $color-accent;
	}

	ul {
		list-style-type: none;
		margin: 0px;
		padding: 10px 0px 0px 0px;

		li {
			margin-bottom: 5px;
			font-size: 11pt;

			padding: 5px 0px 5px 10px;

			background: $white;

			-webkit-transition: background 0.5s;
			transition: background 0.5s;

			cursor: pointer;

			&:hover {
				background: $color-selection-hover;
			}

			&.selected {
				color: $color-primary;
				background: $color-accent;
			}
		}
	}

}

delete-warning-dialog {
	position: fixed;
	width: 300px;

	z-index: $z-index-very-important;

	background: $color-primary;

	border-radius: 5px;
	box-shadow: $shadow-small;

	h4 {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;

		margin: 0px;
		padding: 10px 25px;

		color: $color-primary;
		background: $red;
	}

	p {
		padding: 10px 15px 10px 15px;
	}

	div.button-box {
		width: 100%;
		text-align: center;

		margin: 10px 0px 20px 0px;

		button {
			margin-right: 10px;
		}
	}
}

node-creation-selection-dialog {
	// position: absolute;
	position: fixed;
	left: 50%;
	z-index: $z-index-modal;
	display: flex;
	flex-direction: column;
	height: 50%;

	margin: 5px 0px 0px -300px;
	border-radius: 10px;
	background: $color-primary;

	box-shadow: $shadow-dialog;

	text-align: center;

	h2 {
		width: 100%;
		box-sizing: border-box;

		margin: 0px;
		padding: 10px 25px;

		border-top-left-radius: 10px;
		border-top-right-radius: 10px;

		color: $color-primary;
		background: $color-accent;
	}

	ul {
		list-style-type: none;
		margin: 0px;
		padding: 20px;
		gap: 20px;
		height: 100%;
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		align-items: center;

		li {
			background: $color-primary;
			box-shadow: $shadow-small;
			flex-grow: 1;
			flex-basis: 150px;
			padding: 10px;
			min-height: 130px;
			box-sizing: border-box;

			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 75%;

			text-align: center;

			cursor: pointer;

			-webkit-transition: padding-top 0.5s;
			transition: padding-top 0.5s;

			@media screen and (max-height: ($edit-popup-less-height + 69)) {
				font-size: 12px;
			}

			&:hover {
				padding-top: 15px;
				box-shadow: $shadow-small-highlight;

			}
		}
	}
}

.node-creation-screen {
	position: relative;
	z-index: $z-index-modal;

	width: 90%;
	max-width: 1280px;
	height: 90%;
	margin: auto;

	border-radius: 10px;
	background: $color-primary;

	box-shadow: $shadow-dialog;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.node-creation-panels {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		max-height: 80%;
		padding: 10px;
		overflow: auto;

		.panel-left {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			width: 100%;
			overflow: hidden;

			@media screen and (min-width: $node-creation-panels-width) {

				&.tiny {
					flex-direction: row;
				}

				&.column {
					flex-direction: column;
				}

			}
		}

		.panel-right {
			padding: 10px;
			max-width: 450px;
		}
	}

	@media screen and (max-width: $node-creation-panels-width) {
		.panel-right {
			display: none;
		}
	}

	@media screen and (min-width: $node-creation-panels-width) {
		.node-creation-panels {
			flex-direction: row;
		}
	}

	.answer-required-items {
		display: flex;
		flex-direction: column;
		grid-gap: 10px;
		height: 100%;
	}

	.require-item-btn {
		// width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		grid-gap: 5px;
		border-color: $white;
		font-size: 14px;
		max-width: 115px;

		&#hotspot-require-item-btn {
			height: auto;
		}

		div {
			border-radius: 5px;
			border: 1px dashed $gray-lighter;
			position: relative;
			height: 50px;
			width: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&.requires-items {
			div {
				background-color: $gray-lighter;
			}
		}

		.arrow-bottom {
			position: absolute;
			top: -12px;
			left: 30%;
		}

		.arrow-right {
			position: absolute;
			right: -17px;
			top: 12px;

			border-top: 13px solid transparent;
			border-left: 10px solid $gray-darker;
			border-bottom: 13px solid transparent;
		}
	}

	.required-item-tooltip {
		position: absolute;
		left: -20%;
		top: -50px;
		width: 125px;
		z-index: $z-index-modal;

		background: $gray-darker;
		color: $white;

		padding: 10px;
		border-radius: 5px;
		font-weight: normal;

		&.tooltip-bottom {
			bottom: -50px;
			top: auto;
		}
	}

	.arrow-top {
		position: absolute;
		bottom: -15px;
		left: 40%;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;

		border-bottom: 10px solid $gray-darker;
	}

	&.hotspot {
		max-height: 650px;

		textarea {
			resize: none;
		}
	}

	h2 {
		width: 100%;
		box-sizing: border-box;

		margin: 0px;
		padding: 10px 25px;

		border-top-left-radius: 10px;
		border-top-right-radius: 10px;

		color: $white;
		background: $color-accent;
	}

	.question-box {
		width: $edit-popup-standard-question-width; // 80%
		flex-grow: 2;
		max-height: 300px;
		box-sizing: border-box;
		height: 100%;

		border: solid 1px #cccccc;
		border-radius: 3px;

		font-size: 2em;

		&.expanded {
			max-height: 100%;
		}

		&.tiny {
			max-height: 2em;
		}

		@media screen and (min-width: 1000px) {
			&.tiny {
				resize: both !important;
				height: 90%;
				max-height: 100% !important;
				width: 200px;
			}
		}

		@media screen and (max-height: ($edit-popup-standard-height + 69)) {
			font-size: 1em;

			transition: all 0.1s ease;

			// &.tiny {
			// 	position: relative;
			// 	height: 22px;
			// 	font-size: 1em;

			// 	resize: none;

			// 	margin: 5px 20px 0px 20px;

			// 	&:focus {
			// 		position: absolute;
			// 		z-index: $z-index-modal;
			// 		height: 50px;
			// 	}
			// }
		}
	}

	#big-upload-button {
		text-align: center;
		height:fit-content;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 0 10px 10px 10px;

		span {
			display: block;
			width: 100%;
			font-size:48px;
		}
	}

	.question-media-box {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		// flex-grow: 1;

		margin: $edit-popup-padding;
		grid-gap: $edit-popup-padding;
		padding: 2px;

		&.align-left {
			flex-direction: row-reverse;
		}

		&.align-right {
			flex-direction: row;
		}

		&.align-bottom, &.align-top {
			align-items: center;

			.media-box {
				display: flex;
				flex-direction: row;
				align-items: center;

				.image-box {
					display: flex;
					flex-direction: column;
				}
			}
		}

		&.align-bottom {
			flex-direction: column-reverse;
		}

		&.align-top {
			flex-direction: column;
		}

		&.expanded {
			height: 100%;
		}
	}

	.media-box {
		max-height: 300px;

		border: solid 1px $gray-lighter;

		text-align: center;

		img {
			max-width: 100%;
			max-height: 104px;
			object-fit: cover;
		}

		input.image-alt-text {
			z-index: $z-index-modal-svg;

			width: 100%;
			box-sizing: border-box;
			background: rgba(255,255,255,0.9);
			border: solid 1px $gray;
			border-radius: 2px;
		}

		div.media-toolbar {
			padding-top: 4px;

			text-align: center;

			button {
				margin-bottom: 5px;
			}
		}
	}

	.answers-container {
		position: relative;
		// width: $edit-popup-width - 30;
		margin: 10px 10px 0px 10px;
		padding: 5px;

		max-height: 500px;
		overflow-y: scroll;
		flex-grow: 2;

		> ul {
			list-style-type: none;
			margin: 0px;
			padding: 0px;

			display: flex;
			flex-direction: column;
			grid-gap: 10px;

			height: 100%;

			> li {
				width: 99%;
				padding: 5px;
				box-sizing: border-box;

				-webkit-transition: background 0.5s;
				transition: background 0.5s;
				// position: relative;

				&.unmatched-answers-row, div.answer {
					display: flex;
					flex-direction: row;
					grid-gap: 10px;
				}

				border-radius: 5px;

				.answer-textareas, .answer-removal-options {
					display: flex;
					flex-direction: column;
					grid-gap: 10px;

					.hide-answer-button {
						height: 35px;
						width: 35px;
						padding: 5px 0 0 0;
						position: relative;

						img {
							height: 25px;
							width: 25px;
						}

						.hide-answer-tooltip {
							position: absolute;
							top: 45px;
							width: 100px;
							background: $blue;
							color: $white;
							border-radius: 5px;
							padding: 5px;

							&::before {
								position: absolute;
								top: -8px;
								left: 10px;
								content: "";
								border-left: 10px solid transparent;
								border-right: 10px solid transparent;
								border-bottom: 10px solid $blue;
							}
						}
					}
				}

				.answer-textareas {
					flex-grow: 1;
					justify-content: space-between;

					.match-options {
						display: flex;
						flex-direction: row;
						align-items: center;
						font-size: 0.8em;
						color: $gray-darker;

						#characterSensitive {
							margin-left: 20px;
						}
					}
				}

				.add-match-box {
					display: flex;
					flex-direction: row;
					grid-gap: 10px;

					input {
						width: 100%;
					}

					button.add-match {
						width: 110px;
					}
				}

				.add-answer-items {
					display: flex;
					flex-direction: row;
					align-items: center;
					grid-gap: 15px;

					> * {
						font-size: 10pt;
					}

					span {
						color: $gray;
					}

					select {
						min-width: 200px;
						height: 2em;
					}
				}

				.answer-options {
					display: flex;
					flex-direction: row-reverse;
					align-items: center;
					text-align: center;
					grid-gap: 10px;

					color: $gray-darker;

					div.answer-destination {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						grid-gap: 10px;
						height: 100%;
						padding: 10px;

						border: 1px solid $color-accent;
						border-radius: 10px;
						box-sizing: border-box;

						background-color: $color-accent;
						color: $white;

						&:hover {
							background: $color-accent-highlight;
							cursor: pointer;

							.node-label {
								background: $color-accent-highlight;
							}
						}
					}
				}

				input {
					height: 2em;
					padding: 5px 10px;

					border: solid 1px #cccccc;
					border-radius: 3px;
				}

				&:hover {
					background: $color-selection-hover;
				}

				button.delete-button {
					height: 35px;
					min-width: 35px;
					max-width: 35px;
				}

				button.answer-node-select, button.add-item {
					color: $white;
					height: fit-content;
				}

				button.answer-node-select {
					height: 45px;
					width: 45px;
					display: flex;
					flex-direction: row;
					justify-content: center;
					border-radius: 50%;
					border: 1px solid $white;
					background-color: transparent;
					font-size: 24px;

					overflow-x: visible;

					.node-label {
						display: block;
						width:fit-content;
						background: $color-accent;
					}
				}

				.answer-items {
					width: 100%;
					display: flex;
					flex-direction: row;
					gap: 10px;
					box-sizing: border-box;

					background: $gray-lighter;
					border: solid 1px #cccccc;
					border-radius: 5px;
					padding: 10px;

					p {
						color: $gray;
						font-size: 0.8em;
					}

					button:hover {
						background: $red;
						color: $white;
					}
				}

				&.short-answer-mode {

					.possible-answers-box {
						background: $gray-lighter;
						border: solid 1px #cccccc;
						border-radius: 5px;
						padding: 10px;

						button {
							margin: 0px 2px 2px 0px;

							&:hover {
								background: $red;
								color: $white;
							}
						}

						p {
							color: $gray;
							font-size: 0.8em;
						}
					}
				}

				&.unmatched-answers-row {

					background: $gray-lightest;
					border-radius: 5px;

					.unmatched-left-padding {
						width: 30px;
						height: 30px;
					}

					.unmatched-answers-box {
						padding: 5px;
						margin: 5px 0;

						background: $gray-lighter;
						border: solid 1px #cccccc;
						border-radius: 5px;

						p {
							color: $black;
							font-size: 0.8em;

							span {
								font-weight: bold;
							}
						}
					}
				}

			}
		}
	}

	div.add-answer-options {
		margin: 0px 0px 0px 20px;
		// position: absolute;
		// bottom: 20px;
		display: flex;
		align-items: center;

		div.random-select-container {
			display: inline-block;
			margin-left: 15px;

			font-size: 0.8em;
		}
	}

	.bottom-bar {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		width: 100%;
		padding: 10px;
		box-sizing: border-box;

		background: $gray-lightest;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;

		box-shadow: inset 0 2px 2px $gray-lighter;

		> div {
			height: 35px;
		}

		.uploadButton {
			position: relative;
		}

		.uploadImageIndicator {
			animation: 'notif-bounce' 0.6s infinite;
			animation-direction: alternate;
			animation-timing-function: ease-in-out;

			z-index: 100;
			position: absolute;
			bottom: 60px;
			left: -25px;

			background: $color-accent;
			color: $white;
			box-shadow: $shadow-dialog;

			border-radius: 5px;
			border: none;
			padding: 15px;

			font-size: 16px;
			font-weight: bold;
			width: 150px;
			text-align: center;
		}

		.arrow-bottom {
			border-top-color: $color-accent;
			position: absolute;
			bottom: -8px;
			left: 42%;
		}

		@keyframes notif-bounce {
			0% {
				bottom: 60px;
			}
			100% {
				bottom: 65px;
			}
		}
	}

	.items-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: 35px;

		button.item-button {
			margin: 0 $edit-popup-padding 0 0;

			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			grid-gap: 10px;
		}

		#add-sign {
			font-size:24px;
		}

		img {
			height: 45px;
			width: 45px;
		}
	}

	.continuity-container {
		padding: 5px 15px;

		// overflow-y: auto;


		span {
			display: inline-block;

			margin-left: 25px;
			margin-right: 10px;

			&:last-child {
				margin-left: 2px;
			}
		}

		.final-score {
			width: 55px;
			height: 30px;
			font-size: 20px;
			border: solid 1px $gray-lighter;

			color: $black;
			background: $white;

			outline: none;

			border-radius: 5px;

			-webkit-transition: background 0.5s;
			transition: background 0.5s;

			&.invalid {
				background: $red-lighter;
				border-color: $red;
				color: $white;
			}
		}

		button {
			&.managed {
				color: $white;
				background: $color-accent;
			}
		}
	}

	hotspot-manager {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-grow: 2;
		overflow: hidden;

		.no-media {
			border: 2px dashed $gray-lighter;
			background-color: $gray-lightest;

			height: 75%;
			width: 100%;
			margin: 10px;

			display: flex;
			justify-content: center;
			align-items: center;
		}

		.image-manager {
			display: flex;
			flex-direction: row-reverse;
			flex-grow: 1;
			align-items: center;
			height: 100%;
			overflow: auto;

			@media screen and (min-width: $node-creation-panels-width) {
				flex-direction: row;
			}
		}

		.image-container {
			position: relative;
			display: block;
			width: 700px;
			height: 410px;
			overflow: auto;
			overflow-x: hidden;

			margin: 0 auto;

			text-align: center;

			@media screen and (max-height: ($edit-popup-standard-height + 6)) {
				margin-top: 0px;
			}

			svg#hotspot-canvas {
				position: absolute;
				z-index: $z-index-modal-svg;

				top: 0px;
				left: 0px;

				width: 698px;
				height: 400px;

				@include user-select-none();


				ellipse, rect, polygon {
					cursor: pointer;

					&.moving {
						cursor: move;
					}
				}

				.scale {
					cursor: move;

					.scale-path {
						stroke: $white;
						stroke-width: 1px;
					}

					circle {
						fill: $white;
						fill-opacity: 0.5;

						transition: all 0.5s ease;

						&.hovered {
							fill-opacity: 0.9;
						}
					}
				}
			}

			img {
				position: relative;

				z-index: $z-index-modal + 1;
				max-width: 100%;
				//max-height: 90%;
				height: 400px;
			}
		}

		#hotspot-label {
			position:absolute;
			z-index: $z-index-modal-dialog - 1;

			max-width: 180px;

			padding: 8px;

			border-radius: 5px;
			color: #fff;
			background: rgba(0,0,0,0.8);
			font-weight: normal;
			font-size:0.8em;

			cursor: pointer;

			&.hidden {
				z-index: $z-index-hidden;
			}
		}

		svg#polygon-svg-artboard {
			display: block;
			position: absolute;
			width: 698px;
			height: 400px;
			z-index: $z-index-modal-svg + 1;

			background: $white;
			opacity: 0.7;
		}
	}

	.image-options-container {
		padding: 5px;
		border-radius: 5px;
		background-color: rgba(0,0,0,0.25);
		margin: auto;
		box-sizing: border-box;

		@media screen and (min-width: $node-creation-panels-width) {
			& {
				height: 100%;
			}
		}

		.toolbar-heading {
			color: white;
			padding: 5px 0;
		}

		hotspot-toolbar {
			display: flex;
			flex-direction: column;
			grid-gap: 5px;
			padding-left: 1px;

			input.hotspot-alt-text {
				background: rgba(255,255,255,0.9);
				height: 2em;
				border: solid 1px $gray;
				border-radius: 2px;
				margin-top: 10px;
			}

			ul {
				list-style-type: none;
				padding: 0px;
				margin: 0px;
				display: flex;
				flex-direction: column;
				grid-gap: 5px;

				li {
					position:relative;

					button {
						margin-right: 5px;
						width: 100%;
						text-align: left;
					}

					.arrow-right {
						top: 5px;
						right: 195px;
						position: absolute;
					}

					@media screen and (max-width: $node-creation-panels-width) {
						.arrow-right {
							display: none;
						}
					}
				}
			}
		}

		div.visibility-manager {
			position: absolute;
			width: 300px;

			right: 200px;
			top: -2px;

			z-index: $z-index-modal-dialog;

			background: $color-primary;

			border-radius: 5px;
			box-shadow: $shadow-small;

			h4 {
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;

				margin: 0px;
				padding: 10px 25px;

				color: $color-primary;
				background: $color-accent;
			}

			ul {
				list-style-type: none;
				margin: 0px;
				padding: 10px 0px 0px 0px;

				li {
					margin-bottom: 5px;
					font-size: 11pt;

					padding: 5px 0px 5px 10px;

					background: $white;

					-webkit-transition: background 0.5s;
					transition: background 0.5s;

					cursor: pointer;

					&:hover {
						background: $color-selection-hover;
					}

					&.selected {
						color: $color-primary;
						background: $color-accent;
					}
				}
			}
		}


		@media screen and (max-width: $node-creation-panels-width) {
			& {
				position: absolute;
				z-index: 100;
				bottom: 0;
				left: 0;
				right: 0;
			}

			hotspot-toolbar {
				> ul {
					flex-direction: row;
					align-items: center;
				}

				textarea {
					height: 1em;
				}
			}

			div.visibility-manager {
				bottom: 35px;
				left: 0;
				top: auto;
			}
		}
	}

	hotspot-answer-manager {
		position: fixed;
		display: none;
		width: 0px;

		z-index: $z-index-modal-dialog;

		background: $color-primary;

		border-radius: 5px;
		box-shadow: $shadow-small;

		transition: width 0.5s ease;
		transition: height 0.5s ease;

		&.visible {
			display: flex;
			width: 400px;
			// height: 100%;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}

		.hotspot-answer-header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
			box-sizing: border-box;
			margin: 0px;
			padding: 10px 10px 10px 25px;

			color: $color-primary;
			background: $color-accent;

			border-top-left-radius: 5px;
			border-top-right-radius: 5px;

			cursor: move;
			&:active {
				cursor: grabbing;
			}

			h4 {
				margin: 0;
			}

			.hide-popup {
				&:hover {
					color: $red;
					cursor: pointer;
				}
			}


		}

		#hotspot-label-input {
			width: 90%;
			height: 2em;

			margin: 10px 2px;
			box-sizing: border-box;

			border: solid 1px #cccccc;
			border-radius: 3px;
		}

		textarea {
			width: 90%;
			height: 5em;

			padding-left: 15px;
			box-sizing: border-box;

			border: solid 1px #cccccc;
			border-radius: 3px;
		}

		.add-item {
			height: 100px;
			width: 100%;
		}

		.hotspot-required-items {
			max-height: 60px;
			overflow: auto;
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			margin: 10px 0px 10px 15px;

			button:hover {
				background: $red;
				color: $white;
			}

			button {
				margin: 1px;
			}

		}

		.required-item-modal-hotspot .add-item {
			flex-direction: column;
			align-items: start;
			height: auto;
		}

		div.select-required-items {
			margin-bottom: 10px;

			select {
				margin-right: 10px;
				border: 1px solid $color-accent;
				border-radius: 5px;
				min-width: 100px;
				height: 2em;
			}
		}

		div.button-options {
			margin: 5px 5px 10px 15px;
			display: flex;

			button {
				margin-right: 4px;
				height: 35px;
			}
		}

		div.colors-container {
			width: 270px;
			margin-top: 5px;
			padding: 10px 15px;

			background: $gray-lightest;

			button {
				display: inline-block;
				width: 20px;
				height: 18px;

				padding: 0px;

				margin: 0px 5px 5px 0px;

				border: solid 1px $gray;

				&.blue {
					background: #0000FF;
				}

				&.red {
					background: #FF0000;
				}

				&.green {
					background: #008000;
				}

				&.aliceblue {
					background: #F0F8FF;
				}

				&.coral {
					background: #FF7F50;
				}

				&.indigo {
					background: #4B0082;
				}

				&.lightgreen {
					background: #90EE90;
				}

				&.slategrey {
					background: #708090;
				}

				&.yellow {
					background: #FFFF00;
				}

				&.teal {
					background: #008080;
				}

				&.blueviolet {
					background: #8A2BE2;
				}

				&.darkred {
					background: #8B0000;
				}

				&.cyan {
					background: #00FFFF;
				}

				&.goldenrod {
					background: #DAA520;
				}
			}
		}

		div.continuity-container {
			width: 100%;
			padding: 10px 20px;
			box-sizing: border-box;

			background: $gray-lighter;

			text-align: left;

			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;

			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			button {

				&.managed {
					color: $white;
					background: $color-accent;
				}
			}
		}
	}
}

validation-dialog {
	position: fixed;
	left: 50%;
	z-index: $z-index-modal;

	width: $misc-popup-width;
	// height: 600px;
	margin: 5px 0px 0px -300px;
	padding-bottom: 75px;
	border-radius: 5px;
	background: $color-primary;

	box-shadow: $shadow-dialog;

	h4 {
		width: 100%;
		box-sizing: border-box;

		margin: 0px;
		padding: 10px 25px;

		border-top-left-radius: 5px;
		border-top-right-radius: 5px;

		color: $color-primary;
		background: $color-accent;
	}

	p.error-count {
		margin: 15px 15px 5px 15px;
		padding: 10px 15px;

		color: $white;
		font-weight: bold;

		background: $red;
		border-radius: 2px;

		box-shadow: $shadow-small;
	}

	ul {
		list-style-type: none;
		margin: 0px;
		padding: 25px 0px 0px 0px;

		li {
			display: flex;
			min-height: 35px;
			margin: 0px 15px 0px 15px;
			padding: 10px 0px;
			// padding: 10px 15px;
			// border: solid 1px $gray-lighter;

			border-bottom: solid 1px $gray-lighter;

			cursor: pointer;

			&:hover {
				background: $color-selection-hover;
			}

			svg {
				float: left;
				margin-left: 10px;
				vertical-align: middle;
			}

			p {
				display: inline-block;
				width: 495px;
				padding-right: 15px;
				margin-top: 0px;
				margin-left: 15px;

				vertical-align: middle;

				font-size: 13px;

				// color: $black;
				// font-weight: normal;
			}
		}
	}

	button {
		position: absolute;
		bottom: 15px;
		left: 15px;

		padding: 10px 15px;
	}
}

import-type-selection {
	position: fixed;
	left: 50%;
	top: 20%;
	z-index: $z-index-modal;

	width: $misc-popup-width;
	margin: 5px 0px 0px -300px;
	border-radius: 10px;
	background: $color-primary;

	box-shadow: $shadow-dialog;

	.import-type-selection {
		position: relative;
		display: flex;
		flex-direction: row;

		padding: 15px;
		border-radius: 5px;

		div {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;

			width: calc(60% - 20px);
			height: 200px;
			padding: 10px;

			font-size:0.8em;

			p {
				margin: 0;
				padding: 0;
			}

			button {
				position: absolute;
				bottom: 20px;
				left: 50%;
				width: 166px;
				height: 3em;
				margin-top: 20px;
				margin-left: -83px;

				background: $color-accent;
				color: $color-primary;

				&:hover {
					background: $color-accent-highlight;
				}
			}

			&:first-child {
				width: 40%;
				border-right: 1px solid gainsboro;
			}

			.video-form {
				width: 100%;

				.video-input {
					width: 92%;
					height: 2em;
					padding: 0 2%;
					margin: 0 2%;
					border: solid 1px $gray-lighter;
					border-radius: 3px;
				}
			}
		}
	}

	.import-tab {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;

		div {
			border: 1px solid $gray-lighter;
			width: 100%;
			text-align: center;
		}
	}

	h2 {
		width: 100%;
		box-sizing: border-box;

		margin: 0px;
		padding: 10px 25px;

		border-top-left-radius: 10px;
		border-top-right-radius: 10px;

		color: $color-primary;
		background: $color-accent;

		display: flex;
		justify-content: space-between;

		.hide-popup {
			cursor: pointer;

			&:hover {
				color: $red;
			}
		}
	}

	.error-message {
		margin-top: 10px;
		color: $red;
		font-weight: 700;
	}
}

@keyframes flash-animation {
	from { background: $color-accent; }
  to   { background: $color-primary; }
}

@-webkit-keyframes flash-animation {
	from { background: $color-accent; }
  to   { background: $color-primary; }
}

.flashItemBox {
	animation-name: flash-animation;
  animation-duration: 0.5s;

	-webkit-animation-name: flash-animation;
  -webkit-animation-duration: 0.5s;
}

.hidden {
	z-index: $z-index-hidden;
}


.info-icon {
	border-radius: 50%;
	border: 2px solid $blue-focus;
	color: $blue-lighter;
	font-style: italic;
	height: 30px;
	width: 30px;
	padding: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.info-dialog {
	z-index: $z-index-modal-dialog;
	position: absolute;
	top: 200px;
	left: 20%;
	width: $misc-popup-width;

	background: $white;
	border: 3px solid $blue-focus;
	border-radius: 10px;
	padding: 10px;

	div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 10px;
		grid-gap: 10px;
	}

	button {
		position: absolute;
		border-radius: 50%;
		border: 1px solid $blue-focus;
		right: -10px;
		top: -10px;
		height: 35px;
		width: 35px;
	}
}