/* Adventure 2.0 Creator Styles */

/* Variable definitions */

$black: #000000;
$white: #ffffff;
$red: #b90000;
$red-lighter: #de0000;
$red-lightest: #ffd7d7;

$yellow: #ffe400;

$blue: #3d90b1;
$blue-lighter: #49afd7;
$blue-lightest: #bdecff;

$tealish: #61a47f;

$gray-darker: #333333;
$gray: #888888;
$gray-lighter: #cccccc;
$gray-lightest: #eaeaea;


$background: $gray-lighter;
$color-primary: $white;
$color-accent: $blue;
$color-accent-highlight: $blue-lighter;
$color-selection-hover: $blue-lightest;
$color-mode-accent: $tealish;

$color-blank: #ADADAD;
$color-mc: #60b973;
$color-sa: #6ea0aa;
$color-hotspot: #ba83c7;
$color-narr: #ffc656;
$color-end: $red;

$shadow-dialog: 0px 3px 3px $gray;
$shadow-small: 0px 0px 2px $gray;
$shadow-small-highlight: 0px 0px 5px $gray;

$edit-popup-width: 750px;
$edit-popup-padding: 20px;
$edit-popup-content-width-full: 708px;
$edit-popup-standard-question-width: 600px;

$edit-popup-content-width-half: 340px;

$misc-popup-width: 600px;

$edit-popup-less-height: 600px;
$edit-popup-standard-height: 620px;
// $edit-popup-extra-height: 620px;
// $edit-popup-less-height: 570px;


$z-index-hidden: -1;
$z-index-default: 0;
$z-index-behind-cover: 5;
$z-index-background-cover: 10;
$z-index-modal-low-priority: 25;
$z-index-modal: 50;
$z-index-modal-svg: 75;
$z-index-modal-dialog: 100;
$z-index-very-important: 1000;

html, body {
	height: 100%;

	margin: 0px;
	padding: 0px;

	background-color: $white;

	font-family: 'Lato', sans-serif;
}

@mixin user-select-none() {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
}

@mixin calc($property, $expression) {
	#{$property}: -webkit-calc(#{$expression});
	#{$property}: calc(#{$expression});
}

/* Component Styling */

button {
	cursor: pointer;
}

div.fancy-toggle {
	position: relative;
	width:80px;
	height:26px;

	margin: 3px auto 0px auto;

	transform:scale(0.8);
	-webkit-transform:scale(0.8);
	-moz-transform:scale(0.8);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);

	background:$color-accent-highlight;

	&:after {
		position: absolute;
		right: 10px;
		z-index: $z-index-default;

		content: 'OFF';

		font: 12px/26px Arial, sans-serif;
		color: $gray-darker;
		font-weight: bold;
	}

	&:before {
		position: absolute;
		left: 10px;
		z-index: $z-index-default;

		content: 'ON';

		font: 12px/26px Arial, sans-serif;
		color: $color-primary;
		font-weight: bold;
	}

	label {
		position: absolute;
		top: 3px;
		left: 3px;
		z-index: $z-index-behind-cover;

		display: block;
		width: 34px;
		height: 20px;

		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		-o-transition: all .2s ease;
		-ms-transition: all .2s ease;
		transition: all .2s ease;
		cursor: pointer;

		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;

		-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
		background: #fcfff4;

		background: -webkit-linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		background: -moz-linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		background: -o-linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		background: -ms-linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	}

	input[type=checkbox]:checked + label {
		left: 43px;
	}
}

/* Container formatting */

#backgroundcover {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: $black;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;
	&.show {
		z-index: $z-index-background-cover;
		opacity: 0.3;
		transition: opacity 0.5s ease;
	}
}

mode-manager-overlay {
	position: absolute;
	z-index: $z-index-very-important;

	top: -60px;
	left: 0;
	width: 100%;
	height: 42px;

	padding-top: 18px;

	color: $color-primary;
	background: $color-mode-accent;

	text-align: center;

	font-size: 1.1em;

	transition: all 0.5s;

	&.enabled {
		top:0;
	}

	button {
		position: absolute;
		top: 15px;
		right: 20%;
		padding: 6px 18px;
		text-align: center;

		font-size: 15px;
	}
}

header.title-header {
	display: block;
	width: 100%;
	height: 46px;
	padding-top: 14px;

	background: $color-accent;

	h1 {
		display: inline-block;
		margin: 0px 0px 0px 15px;

		font-size: 24px;
		font-weight: 300;
		font-family: 'Lato', sans-serif;

		color: $color-primary;

		cursor: pointer;
	}

	img.logo {
		display: inline-block;
		float: left;
		margin-left:20px;
	}

	div.edit-title {
		display: inline-block;
		height: 24px;

		margin-left: 10px;
		text-decoration: underline;

		color: $color-primary;

		cursor: pointer;
	}

	div.header-options-box {

		float: right;
		margin-top: -6px;
		margin-right: 25px;

		text-align: center;

		color: $color-primary;
		font-size: 12px;

		input[type=checkbox] {
			visibility: hidden;
		}

		button.header-options-button {
			width: 90%;
			margin: 3px auto 0px auto;
		}
	}
}

#adventure-container {
	position: relative;
	width: 100%;
	@include calc(height, "100% - 70px");
	min-width: $edit-popup-width;

	overflow-x: hidden;
	overflow-y: hidden;
	// overflow-y: auto;

	border-bottom: solid 1px $gray-lighter;
}

/* Tree Visualization Styles */

#tree-svg {

	@include user-select-none();

	&.draggable {
		cursor: move;
	}
}

g.node {
	font-family: Verdana, Helvetica;
	font-size: 12px;
	font-weight: bold;

	cursor: pointer;

	fill-opacity: 1;

	&:hover {
		circle {
			stroke-width: 2px;
		}
	}

	circle.node-dot {
		stroke-width: 1px;
	}

	&.blank {

		.node-type {
			fill: $color-blank;
		}

		circle.node-dot {
			fill: $white;
			stroke: $color-blank;
		}
	}

	&.copyMode.blank {
		circle.node-dot {
			stroke: $color-accent;
			stroke-width: 3px;
		}
	}

	&.mc {
		.node-type {
			fill: $color-mc;
		}

		circle.node-dot {
			fill: $white;
			stroke: $color-mc;
		}
	}

	&.shortanswer {

		.node-type {
			fill: $color-sa;
		}

		circle.node-dot {
			fill: $white;
			stroke: $color-sa;
		}
	}

	&.hotspot {

		.node-type {
			fill: $color-hotspot;
		}

		circle.node-dot {
			fill: $white;
			stroke: $color-hotspot;
		}
	}

	&.narrative {

		.node-type {
			fill: $color-narr;
		}

		circle.node-dot {
			fill: $white;
			stroke: $color-narr;
		}
	}

	&.end {

		.node-type {
			fill: $color-end;
		}

		circle.node-dot {
			fill: $white;
			stroke: $color-end;
		}
	}

	&.focused {
		circle.node-dot {
			stroke: $red;
			stroke-width: 3px;
		}
	}

	&.ineligible {
		circle.node-dot {
			fill: $red-lightest;
			stroke: $red !important;
			stroke-width: 3px !important;
		}
	}

	rect {
		fill: $white;
		stroke: $gray-lightest;
		stroke-width: 2px;
	}

	g.warning-symbol {
		stroke: $black;
		fill: $yellow;

		.exclamation {
			stroke: none;
			fill: $black;
		}
	}

	text {
		fill: $black;
	}
}

g.bridge {

	opacity: 0;

	cursor: pointer;

	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;

	circle {

		// -webkit-transition: opacity 0.5s;
		// transition: opacity 0.5s;
	}

	path {
		// opacity: 0;
		fill: $white;
	}

	&:hover {
		// circle {
		// 	opacity: 0.8;
		// }
		opacity: 0.8;
	}
}

path.link {
	fill: none;
	stroke: $gray-darker;
	opacity: 0.5;

	&.special {
		stroke: $gray-darker;
		opacity: 0.7;
		stroke-dasharray: 5,3;
	}
}

circle.loopback {
	fill: none;
	stroke: $gray-darker;
	opacity: 0.7;
	stroke-dasharray: 5,3;
}

/* General element styles */

span.bold {
	font-weight: bold;
}

p {
	margin: 0px;
}

button {
	background: $color-primary;
	padding: 5px 10px;
	border: none;
	border-radius: 2px;

	font-family: 'Lato', sans-serif;
	font-weight: 700;

	box-shadow: $shadow-small;

	-webkit-transition: background 0.5s;
	transition: background 0.5s;

	// -webkit-animation-iteration-count: infinite;
	// animation-iteration-count: infinite;

	&:hover {
		color: $color-accent;

		&:disabled {
			color: $gray-lighter;
			cursor: auto;
		}
	}

	&.delete-button {
		background: $red;
		color: $white;

		&:hover {
			background: $red-lighter;
		}

		&:disabled {
			background: $gray;
		}
	}

	&.important-button {
		background: $color-accent;
		color: $white;

		font-weight: 900;

		&:hover {
			background: $color-accent-highlight;
		}
	}
}

.mode-header {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 6px 15px;

	background: $color-mode-accent;
	color: $color-primary;

	text-align: right;
	border-bottom-left-radius: 5px;
}

.zoom-buttons {
	position: absolute;
	top: 15px;
	left: 15px;

	@include user-select-none();

	.zoom-status {
		width: 100%;

		margin-bottom: 5px;

		background: $color-primary;

		text-align: center;
		font-size: 12px;
	}

	.zoom-button {
		display: block;

		margin-left: 4px;

		background: $color-primary;

		box-shadow: $shadow-small;

		cursor: pointer;

		&:hover {

			path {
				fill: $color-accent;
			}
		}

		&:active {
			background: $color-accent;

			path {
				fill: $white;
			}
		}

		path {
			fill: $gray-darker;
		}
	}

	button {
		margin: 10px 0px 0px 0px;
	}
}

/* #### DEBUG #### */
button.temp-qset-gen-button {
	float: right;
	margin-right: 25px;
}

debug-qset-loader, debug-qset-generator {
	position: absolute;
	width: 450px;

	top: 150px;
	left: 50%;
	margin-left: -175px;
	padding-bottom: 25px;

	z-index: $z-index-modal;

	background: $color-primary;
	border-radius: 5px;

	box-shadow: $shadow-small;

	h4 {
		width: 100%;
		box-sizing: border-box;

		margin: 0px;
		padding: 10px 25px;

		border-top-left-radius: 5px;
		border-top-right-radius: 5px;

		color: $color-primary;
		background: $color-accent;
	}

	textarea {
		width: 400px;
		height: 300px;
		margin-left: 25px;
		margin-top: 25px;
	}

	button {
		margin-top: 15px;
		margin-left: 25px;
	}
}

/* #### NOT DEBUG ANYMORE #### */

/* Tools and dialog windows */

.intro-screen {
	position: absolute;
	width: 620px;
	top: 10%;
	left: 50%;
	z-index: $z-index-modal;

	margin-left: -325px;

	padding: 15px 15px 25px 20px;

	border-radius: 5px;

	background: $color-primary;

	h2 {
		vertical-align: top;

		font-weight: 300;

		font-size: 26px;
	}

	p {
		width: 300px;

		margin: 15px 0px 15px 0px;

		font-weight: 300;
		font-size: 18px;

		&.bold {
			font-weight: 700;
		}
	}

	img {
		float: right;
		width: 250px;
		height: 100%;
		top: 0px;
		margin: 20px 10px 20px 10px;
	}

	button {
		margin-top: 20px;
		padding: 10px 20px;
		font-weight: 400;
		font-size: 18px;
	}
}

.score-mode-screen {
	position: absolute;
	width: 620px;
	top: 10%;
	left: 50%;
	z-index: $z-index-modal;
	margin-left: -325px;

	// padding: 15px 15px 25px 20px;
	padding: 0px;

	border-radius: 5px;

	background: $color-primary;

	font-family: Verdana, Helvetica;
	font-size: 15px;

	p {
		margin: 15px 15px 15px 20px;

		font-weight: 100;
	}

	button {
		padding: 15px 10px;
		font-size:14px;
	}

	h4 {
		width: 100%;
		box-sizing: border-box;

		margin: 0px;
		padding: 10px 25px;

		border-top-left-radius: 5px;
		border-top-right-radius: 5px;

		color: $color-primary;
		background: $color-accent;
	}

	.score-mode-selection {
		padding: 20px 0px 25px 0px;

		border-top: solid 1px $gray-lightest;

		text-align: center;
	}

	.internal-score-screen-edit-shortcut {
		position: relative;
		width: 100%;
		padding:10px 0px 25px 0px;
		background: $gray-lightest;

		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;

		textarea {
			margin-left: 20px;
			width: 80%;
			height: 4em;

			border: solid 1px #cccccc;
			border-radius: 3px;
			font-size: 13px;
		}

		button {
			position: absolute;
			bottom: 60px;
			right: 25px;
			padding: 5px 10px;
			font-size: 12px;
		}
	}
}

toast {
	position: absolute;
	z-index: $z-index-very-important;

	width: 600px;
	min-height: 30px;

	bottom: 35px;
	left: 50%;
	margin-left: -300px;

	padding-top: 5px;

	border-radius: 5px;

	text-align: center;

	color: $color-primary;

	background: $gray-darker;
	box-shadow: $shadow-small;
}

node-tooltips {
	position: absolute;

	.tooltip {
		max-width: 250px;
		margin: 0px 0px 5px 0px;
		padding: 5px 10px;

		border-radius: 5px;
		background: $gray-darker;

		color: $color-primary;
		font-size: 0.7em;

		.tooltip-title {
			display: block;
			font-size: 0.6em;

			margin-bottom: 3px;
		}
	}
}

title-editor {
	position: absolute;
	width: 500px;

	top: 150px;
	left: 50%;
	margin-left: -200px;
	padding-bottom: 25px;

	z-index: $z-index-modal;

	background: $color-primary;
	border-radius: 5px;

	h4 {
		width: 100%;
		box-sizing: border-box;

		margin: 0px;
		padding: 10px 25px;

		border-top-left-radius: 5px;
		border-top-right-radius: 5px;

		color: $color-primary;
		background: $color-accent;
	}

	input {
		width: 385px;
		height: 2em;
		font-weight: 1.2em;
		padding: 5px 10px 5px 10px;
		margin: 25px 5px 10px 20px;

		border: solid 1px $gray-lighter;
		border-radius: 3px;
	}
}

tree-history {
	position: absolute;
	right: 5px;
	bottom: 0px;
	z-index: $z-index-behind-cover;

	width: 240px;
	font-size: 0.8em;

	text-align: center;

	// border: solid 1px $gray-darker

	&.minimized {
		top: calc(100% - 55px);

		header img {
			top: 5px;
			transform: rotate(180deg);
		}
	}

	div.undo-redo-options {
		position: relative;
		top: 0px;
		width: 100%;
		margin-bottom: 5px;

		button {
			width: 40%;
			font-size:1.1em;
			// background: $color-accent;
			// color: $white;

			@include user-select-none();

			cursor: pointer;

			&:first-child {
				margin-right: 5%;
			}
		}
	}

	header {
		position: relative;
		display: block;
		padding-top: 3px;
		padding-bottom: 5px;
		// font-size: 1.1em;
		// font-weight: bold;

		background: $color-accent;
		color: $white;

		user-select: none;

		cursor: pointer;

		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		// border-bottom: solid 1px $white;

		&:hover {
			background: $color-accent-highlight;
		}

		img {
			position: absolute;
			top: 11px;
			left: 10px;
			width: 9px;
			height: 9px;

			transform: rotate(0deg);
			transition: 250ms all;
		}
	}

	div.action-history {
		width: 238px;
		min-height: 10px;

		padding: 3px 0px 3px 0px;

		background: $white;

		border-left: solid 1px $gray-lighter;
		border-right: solid 1px $gray-lighter;

		&:hover {
			background: $color-accent;
			color: #ffffff;
			transition: background 500ms;
			cursor: pointer;
		}
	}

	&.disabled {
		div.undo-redo-options {
			button {
				color: $gray-lightest;

				&:hover {
					color: $gray-lightest;
				}
			}
		}
		header {
			background: $gray;
			cursor: default;

			&:hover {
				background: $gray;
			}
		}

		div.action-history {
			color: $gray;
			&:hover {
				background: $gray-lightest;
			}
		}

	}
}

node-tools-dialog {
	position: absolute;
	z-index: $z-index-modal-low-priority;

	width: 200px;
	// height: 85px;

	padding-top: 10px;
	padding-bottom: 15px;

	background: $color-primary;
	// border: solid 1px #BDBDBD;
	border-radius: 6px;

	box-shadow: $shadow-small;

	text-align: center;

	button {
		margin-bottom: 5px;
	}

	.important-button {
		width: 160px;
		height: 30px;
		margin-top: 10px;
		margin-bottom: 15px;
	}

	.warning-dialog-section {
		width: 180px;
		margin-top: 10px;

		padding: 10px;

		font-size: 9pt;

		background: $gray-lighter;

		p {
			margin: 0px 0px 15px 0px;
		}

		&.convert-dialog {
			button {
				width: 100%;
			}
		}
	}
}

new-node-manager-dialog {
	position: fixed;
	z-index: $z-index-very-important;
	width: 400px;
	height: 150px;

	left: 50%;
	// top: 50%;
	margin-left: -200px;

	border-radius: 5px;

	background: $color-primary;
	box-shadow: $shadow-small;

	h4 {
		width: 100%;
		box-sizing: border-box;

		margin: 0px;
		padding: 10px 25px;

		border-top-left-radius: 5px;
		border-top-right-radius: 5px;

		color: $color-primary;
		background: $color-accent;
	}

	ul {
		list-style-type: none;
		margin: 0px;
		padding: 10px 0px 0px 0px;

		li {
			margin-bottom: 5px;
			font-size: 11pt;

			padding: 5px 0px 5px 10px;

			background: $white;

			-webkit-transition: background 0.5s;
			transition: background 0.5s;

			cursor: pointer;

			&:hover {
				background: $color-selection-hover;
			}

			&.selected {
				color: $color-primary;
				background: $color-accent;
			}
		}
	}

}

delete-warning-dialog {
	position: fixed;
	width: 300px;

	z-index: $z-index-very-important;

	background: $color-primary;

	border-radius: 5px;
	box-shadow: $shadow-small;

	h4 {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;

		margin: 0px;
		padding: 10px 25px;

		color: $color-primary;
		background: $red;
	}

	p {
		padding: 10px 15px 10px 15px;
	}

	div.button-box {
		width: 100%;
		text-align: center;

		margin: 10px 0px 20px 0px;

		button {
			margin-right: 10px;
		}
	}
}

node-creation-selection-dialog {
	// position: absolute;
	position: fixed;
	left: 50%;
	z-index: $z-index-modal;

	width: $misc-popup-width;
	height: $edit-popup-less-height;
	margin: 5px 0px 0px -300px;
	border-radius: 10px;
	background: $color-primary;

	box-shadow: $shadow-dialog;

	text-align: center;

	@media screen and (max-height: $edit-popup-less-height + 69) {
		// height: 300px;
		height: auto;
	}

	h2 {
		width: 100%;
		box-sizing: border-box;

		margin: 0px;
		padding: 10px 25px;

		border-top-left-radius: 10px;
		border-top-right-radius: 10px;

		color: $color-primary;
		background: $color-accent;
	}

	ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;

		@media screen and (max-height: $edit-popup-less-height + 69) {
			display: block;

			margin: 15px 0px 40px 0px;
		}

		li {
			position: relative;
			display: inline-block;
			top: 0px;

			width: 200px;
			height: 200px;

			margin-top: 25px;

			vertical-align: top;

			background: $color-primary;
			box-shadow: $shadow-small;

			text-align: center;

			cursor: pointer;

			-webkit-transition: top 0.5s;
			transition: top 0.5s;

			@media screen and (max-height: $edit-popup-less-height + 69) {
				width: 100px;
				height: 100px;

				font-size: 12px;
			}

			&:hover {
				top: -5px;
				// -webkit-transition: top 1s;
				// transition: top 1s;
				box-shadow: $shadow-small-highlight;

			}

			&:nth-child(odd) {
				margin-right: 15px;

				@media screen and (max-height: $edit-popup-less-height + 69) {
					margin-left: 5px;
					margin-right: 5px;
				}
			}

			&:last-child {
				width: 420px;
				height: 50px;

				margin: 25px 0 0 0;

				text-align: left;

				img {
					display: inline-block;
					width: 48px;
					height: 48px;

					margin: 1px 15px 1px 100px;
				}

				span {
					display: inline-block;
					vertical-align: top;

					margin-top: 16px;
					margin-bottom: 15px;
				}

				@media screen and (max-height: $edit-popup-standard-height + 69) {
					width: 100px;
					height: 100px;

					text-align: center;

					vertical-align: top;

					margin: 25px 5px 0px 5px;

					img {
						display: block;
						width: 50px;
						height: 50px;

						margin: 12px auto 7px auto;
					}

					span {
						margin: 0px;
					}
				}
			}

			img {
				display: block;
				width: 100px;
				height: 100px;

				margin: 25px auto 15px auto;

				@media screen and (max-height: $edit-popup-less-height + 69) {
					width: 50px;
					height: 50px;

					margin: 12px auto 7px auto;
				}
			}
		}
	}
}

.node-creation-screen {
	// position: absolute;
	position: fixed;
	left: 50%;
	z-index: $z-index-modal;

	width: $edit-popup-width;
	height: $edit-popup-less-height - 30;
	margin: 5px 0px 0px -400px;

	border-radius: 10px;
	background: $color-primary;

	box-shadow: $shadow-dialog;

	&.short {
		height: 520px;

		@media screen and (max-height: $edit-popup-standard-height + 69) {
			top: 10px;
			height: 450px;
		}
	}

	&.long {
		height: 620px;

		@media screen and (max-height: $edit-popup-standard-height + 69) {
			top: 10px;
			height: 450px;
		}
	}

	&.hotspot {
		@media screen and (max-height: $edit-popup-standard-height + 69) {
			top: 10px;
			width: $edit-popup-width + 15;
			height: 535px;
		}
	}

	@media screen and (max-height: $edit-popup-standard-height + 69) {
		top: 10px;
		height: 450px;
	}

	h2 {
		width: 100%;
		box-sizing: border-box;

		margin: 0px;
		padding: 10px 25px;

		border-top-left-radius: 10px;
		border-top-right-radius: 10px;

		color: $white;
		background: $color-accent;
	}

	.question-box {
		width: $edit-popup-standard-question-width; // 80%
		height: 200px;

		margin: $edit-popup-padding $edit-popup-padding 30px $edit-popup-padding;

		border: solid 1px #cccccc;
		border-radius: 3px;

		font-size: 2em;

		resize: none;

		&.expanded {
			height: 350px;

			@media screen and (max-height: $edit-popup-standard-height + 69) {
				height: 250px;
			}
		}

		&.tiny {
			width: $edit-popup-content-width-full - 4;
			height: 50px;

			margin-bottom: 5px;

			font-size: 1.8em;
		}

		&.shared {
			width: $edit-popup-content-width-half;
		}

		&.align-top {
			width: $edit-popup-content-width-full;
			height: 95px;
		}

		&.align-bottom {
			position: absolute;
			top: 306px;
			width: $edit-popup-content-width-full;
			height: 95px;

			@media screen and (max-height: $edit-popup-standard-height + 69) {
				top: 206px;
			}
		}

		&.align-right {
			margin: 20px 20px 30px 380px;
		}

		@media screen and (max-height: $edit-popup-standard-height + 69) {
			height: 100px;
			font-size: 1em;

			transition: all 0.1s ease;

			&.tiny {
				position: relative;
				height: 22px;
				font-size: 1em;

				margin: 5px 20px 0px 20px;

				&:focus {
					position: absolute;
					z-index: $z-index-modal;
					height: 50px;
				}
			}
		}
	}

	#big-upload-button {

		position: absolute;
		top: 100px;

		text-align: center;

		span {
			display: block;
			width: 100%;
			font-size:48px;
		}

		@media screen and (max-height: $edit-popup-standard-height + 69) {
			top: 85px;
		}
	}

	.media-box {
		position: absolute;
		top: 69px;
		width: 340px;
		height: 204px;

		border: solid 1px $gray-lighter;

		text-align: center;

		&.align-right {
			right: 20px;
		}

		&.align-left {
			left: 20px;
		}

		&.align-top {
			position: relative;
			top: 0px;
			width: 80%;
			margin-left: auto;
			margin-right: auto;

			div.media-toolbar {
				width: 100%;
			}
		}

		&.align-bottom {
			position: absolute;
			top: 69px;
			left: 50%;
			width: 602px; // alternative to 80% width
			margin-left: -301px;

			div.media-toolbar {
				width: 100%;
			}
		}

		@media screen and (max-height: $edit-popup-standard-height + 69) {
			height: 104px;
		}

		img {
			max-width: 100%;
			max-height: 100%;
		}

		input.image-alt-text {
			position: absolute;
			bottom: 2px;
			left: 4%;
			z-index: $z-index-modal-svg;

			width: 90%;
			background: rgba(255,255,255,0.9);
			border: solid 1px $gray;
			border-radius: 2px;
		}

		div.media-toolbar {
			position: absolute;
			top: 100%;
			width: 340px;
			padding-top: 4px;

			text-align: center;

			button {
				margin-bottom: 5px;
			}

			// background-color: rgba(0,0,0,0.6);
		}
	}

	.answers-container {
		position: relative;
		width: $edit-popup-width - 30;
		height: 192px;
		margin: 10px 10px 0px 10px;
		padding: 5px;

		overflow-y: auto;

		&.long {
			height: 242px;

			@media screen and (max-height: $edit-popup-standard-height + 69) {
				height: 170px;
			}
		}

		@media screen and (max-height: $edit-popup-standard-height + 69) {
			height: 170px;
		}

		ul {
			list-style-type: none;
			margin: 0px;
			padding: 0px;

			li {
				width: 99%;
				padding-left: 1%;

				background: $color-primary;

				-webkit-transition: background 0.5s;
				transition: background 0.5s;

				input {
					position: relative;
					width: 40%;
					height: 2em;

					margin: 10px 0 10px 5px;
					padding-left: 15px;

					border: solid 1px #cccccc;
					border-radius: 3px;
				}

				&:hover {
					background: $color-selection-hover;
				}

				button.answer-node-select {

					color: $white;
					background: $color-accent;

					&:hover {
						background: $color-accent-highlight;
					}

					&.managed {
						color: $white;
						background: $color-accent-highlight;
					}
				}

				&.short-answer-mode {

					position: relative;
					padding: 5px 0px;

					button.delete-button {
						position: absolute;
						top: 10px;
						left: 10px;
					}

					button.answer-node-select {
						position: relative;
						top: -68px;
						left: 5px;
						// position: absolute;
						// right: 30px;
						// top: 10px;
					}

					input {
						width: 582px; // 80%
						margin: 2px 0px 2px 40px;

						&.shared-row {
							width: 503px;
						}
					}

					.possible-answers-box {
						position: relative;
						display: inline-block;
						width: 587px; // 80%

						left: 35px;

						margin: 5px 0 5px 5px;
						padding: 5px;

						background: $gray-lighter;
						border: solid 1px #cccccc;
						border-radius: 5px;

						button {
							margin: 0px 2px 2px 0px;

							&:hover {
								background: $red;
								color: $white;
							}
						}

						p {
							color: $gray;
							font-size: 0.8em;
						}
					}
				}

				&.unmatched-answers-row {

					padding: 10px 0px 10px 1%;
					margin-bottom: 10px;

					background: $gray-lightest;
					border-radius: 5px;

					.unmatched-answers-box {
						position: relative;
						display: inline-block;
						width: 587px; // 80%

						left: 35px;

						margin: 5px 0 0 5px;
						padding: 5px;

						background: $gray-lighter;
						border: solid 1px #cccccc;
						border-radius: 5px;

						p {
							color: $black;
							font-size: 0.8em;

							span {
								font-weight: bold;
							}
						}
					}

					input {
						width: 582px; // 80%
						margin: 5px 0px 5px 40px;
					}

					button.answer-node-select {
						position: relative;
						top: -33px;
						// position: absolute;
						// right: 35px;
						// top: 20px;
					}
				}

			}
		}
	}

	button.add-answer {
		margin: 10px 0px 0px 20px;
	}

	div.random-select-container {
		display: inline-block;
		margin-left: 15px;

		font-size: 0.8em;
	}

	button.save-button {
		position: absolute;
		bottom: 20px;
		right: 20px;

		padding: 5px 15px 5px 15px;

		&.lowered {
			bottom: 10px;

			@media screen and (max-height: $edit-popup-standard-height + 69) {
				bottom: 16px;
				right: 50px;
			}
		}
	}

	.continuity-container {
		position: absolute;
		bottom: 0px;
		width: $edit-popup-width - 30;
		padding: 20px 15px 20px 15px;

		overflow-y: auto;

		background: $gray-lightest;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;

		box-shadow: inset 0 2px 2px $gray-lighter;

		span {
			display: inline-block;

			margin-left: 25px;
			margin-right: 10px;

			&:last-child {
				margin-left: 2px;
			}
		}

		.final-score {
			width: 55px;
			height: 30px;
			font-size: 20px;
			border: solid 1px $gray-lighter;

			color: $black;
			background: $white;

			outline: none;

			border-radius: 5px;

			-webkit-transition: background 0.5s;
			transition: background 0.5s;

			&.invalid {
				background: $red-lighter;
				border-color: $red;
				color: $white;
			}
		}

		button {
			&.managed {
				color: $white;
				background: $color-accent;
			}
		}
	}

	hotspot-manager {
		position: relative;
		display: block;
		width: 100%;

		@media screen and (max-height: $edit-popup-standard-height + 69) {
			position: absolute;
			bottom: -2px;
		}

		.image-container {
			position: relative;
			display: block;
			width: $edit-popup-content-width-full;
			height: 400px;

			margin: 5px $edit-popup-padding 10px $edit-popup-padding;
			padding-bottom: 40px;

			border: solid 1px $gray-lighter;

			text-align: center;

			@media screen and (max-height: $edit-popup-standard-height + 69) {
				margin-top: 0px;
			}

			#uploadButton {
				display: block;
				margin-top: 100px;
				margin-left: auto;
				margin-right: auto;

				padding: 10px 15px;
				font-size: 15px;
			}

			svg#hotspot-canvas {
				position: absolute;
				z-index: $z-index-modal-svg;

				top: 0px;
				left: 0px;

				width: 698px;
				height: 400px;

				@include user-select-none();


				ellipse, rect, polygon {
					cursor: pointer;

					&.moving {
						cursor: move;
					}
				}

				.scale {
					cursor: move;

					.scale-path {
						stroke: $white;
						stroke-width: 1px;
					}

					circle {
						fill: $white;
						fill-opacity: 0.5;

						transition: all 0.5s ease;

						&.hovered {
							fill-opacity: 0.9;
						}
					}
				}
			}

			img {
				position: relative;

				z-index: $z-index-modal + 1;
				max-width: 100%;
				max-height: 100%;
			}
		}

		input.hotspot-alt-text {
			position: absolute;
			z-index: $z-index-modal-dialog;
			left: 2px;
			bottom: 38px;

			width: 40%;

			background: rgba(255,255,255,0.9);

			border: solid 1px $gray;
			border-radius: 2px;
		}

		hotspot-toolbar {
			position: absolute;
			display: block;

			bottom: 0px;

			width: $edit-popup-content-width-full;
			height: 30px;

			padding-top: 6px;

			background-color: rgba(0, 0, 0, 0.6);

			ul {
				list-style-type: none;
				padding: 0px;
				margin: 0px;

				li {
					display: inline-block;

					button {
						margin-right: 5px;
					}
				}
			}
		}

		div.visibility-manager {
			position: absolute;
			width: 300px;

			left: 50%;
			margin-left: -150px;
			bottom: 40px;

			z-index: $z-index-modal-dialog;

			background: $color-primary;

			border-radius: 5px;
			box-shadow: $shadow-small;

			h4 {
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;

				margin: 0px;
				padding: 10px 25px;

				color: $color-primary;
				background: $color-accent;
			}

			ul {
				list-style-type: none;
				margin: 0px;
				padding: 10px 0px 0px 0px;

				li {
					margin-bottom: 5px;
					font-size: 11pt;

					padding: 5px 0px 5px 10px;

					background: $white;

					-webkit-transition: background 0.5s;
					transition: background 0.5s;

					cursor: pointer;

					&:hover {
						background: $color-selection-hover;
					}

					&.selected {
						color: $color-primary;
						background: $color-accent;
					}
				}
			}
		}

		hotspot-answer-manager {
			position: absolute;
			display: none;
			width: 0px;

			z-index: $z-index-modal-dialog;

			padding-bottom: 52px;

			background: $color-primary;

			border-radius: 5px;
			box-shadow: $shadow-small;

			transition: width 0.5s ease;
			transition: height 0.5s ease;

			font-size:13px;

			&.visible {
				display: block;
				width: 300px;
			}

			h4 {
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;

				margin: 0px;
				padding: 10px 25px;

				color: $color-primary;
				background: $color-accent;
			}

			input {
				width: 245px;
				height: 2em;

				margin: 10px 0px 10px 0px;
				padding-left: 15px;

				border: solid 1px #cccccc;
				border-radius: 3px;
			}

			textarea {
				width: 245px;
				height: 5em;

				padding: 5px 5px 5px 15px;

				border: solid 1px #cccccc;
				border-radius: 3px;
			}

			div.button-options {
				margin: 5px 0px 10px 15px;
				text-align: left;

				button {
					margin-right: 4px;
				}
			}

			div.colors-container {
				width: 270px;
				margin-top: 5px;
				padding: 10px 15px;

				background: $gray-lightest;

				button {
					display: inline-block;
					width: 20px;
					height: 18px;

					padding: 0px;

					margin: 0px 5px 5px 0px;

					border: solid 1px $gray;

					&.blue {
						background: #0000FF;
					}

					&.red {
						background: #FF0000;
					}

					&.green {
						background: #008000;
					}

					&.aliceblue {
						background: #F0F8FF;
					}

					&.coral {
						background: #FF7F50;
					}

					&.indigo {
						background: #4B0082;
					}

					&.lightgreen {
						background: #90EE90;
					}

					&.slategrey {
						background: #708090;
					}

					&.yellow {
						background: #FFFF00;
					}

					&.teal {
						background: #008080;
					}

					&.blueviolet {
						background: #8A2BE2;
					}

					&.darkred {
						background: #8B0000;
					}

					&.cyan {
						background: #00FFFF;
					}

					&.goldenrod {
						background: #DAA520;
					}
				}
			}

			div.continuity-container {
				position: absolute;
				bottom: 0px;

				width: 260px;
				padding: 10px 20px;

				background: $gray-lighter;

				text-align: left;

				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;

				span {
					display: inline-block;
					width: 180px;
				}

				button {
					position: absolute;
					top: 15px;
					right: 20px;

					&.managed {
						color: $white;
						background: $color-accent;
					}
				}
			}
		}

		#hotspot-label {
			position:absolute;
			z-index: $z-index-modal-dialog - 1;

			max-width: 180px;

			padding: 8px;

			border-radius: 5px;
			color: #fff;
			background: rgba(0,0,0,0.8);
			font-weight: normal;
			font-size:0.8em;

			cursor: pointer;

			&.hidden {
				z-index: $z-index-hidden;
			}
		}

		svg#polygon-svg-artboard {
			display: block;
			position: absolute;
			width: 698px;
			height: 400px;
			z-index: $z-index-modal-svg + 1;

			background: $white;
			opacity: 0.7;
		}
	}
}

validation-dialog {
	position: fixed;
	left: 50%;
	z-index: $z-index-modal;

	width: $misc-popup-width;
	// height: 600px;
	margin: 5px 0px 0px -300px;
	padding-bottom: 75px;
	border-radius: 5px;
	background: $color-primary;

	box-shadow: $shadow-dialog;

	h4 {
		width: 100%;
		box-sizing: border-box;

		margin: 0px;
		padding: 10px 25px;

		border-top-left-radius: 5px;
		border-top-right-radius: 5px;

		color: $color-primary;
		background: $color-accent;
	}

	p.error-count {
		margin: 15px 15px 5px 15px;
		padding: 10px 15px;

		color: $white;
		font-weight: bold;

		background: $red;
		border-radius: 2px;

		box-shadow: $shadow-small;
	}

	ul {
		list-style-type: none;
		margin: 0px;
		padding: 25px 0px 0px 0px;

		li {
			display: flex;
			min-height: 35px;
			margin: 0px 15px 0px 15px;
			padding: 10px 0px;
			// padding: 10px 15px;
			// border: solid 1px $gray-lighter;

			border-bottom: solid 1px $gray-lighter;

			cursor: pointer;

			&:hover {
				background: $color-selection-hover;
			}

			svg {
				float: left;
				margin-left: 10px;
				vertical-align: middle;
			}

			p {
				display: inline-block;
				width: 495px;
				padding-right: 15px;
				margin-top: 0px;
				margin-left: 15px;

				vertical-align: middle;

				font-size: 13px;

				// color: $black;
				// font-weight: normal;
			}
		}
	}

	button {
		position: absolute;
		bottom: 15px;
		left: 15px;

		padding: 10px 15px;
	}
}

import-type-selection {
	position: fixed;
	left: 50%;
	top: 20%;
	z-index: $z-index-modal;

	width: $misc-popup-width;
	margin: 5px 0px 0px -300px;
	border-radius: 10px;
	background: $color-primary;

	box-shadow: $shadow-dialog;

	.import-type-selection {
		position: relative;
		display: flex;
		flex-direction: row;

		padding: 15px;
		border-radius: 5px;

		div {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;

			width: calc(60% - 20px);
			height: 200px;
			padding: 10px;

			font-size:0.8em;

			p {
				margin: 0;
				padding: 0;
			}

			button {
				position: absolute;
				bottom: 20px;
				left: 50%;
				width: 166px;
				height: 3em;
				margin-top: 20px;
				margin-left: -83px;

				background: $color-accent;
				color: $color-primary;

				&:hover {
					background: $color-accent-highlight;
				}
			}

			&:first-child {
				width: 40%;
				border-right: 1px solid gainsboro;
			}

			.video-form {
				width: 100%;

				.video-input {
					width: 92%;
					height: 2em;
					padding: 0 2%;
					margin: 0 2%;
					border: solid 1px $gray-lighter;
					border-radius: 3px;
				}
			}
		}
	}

	.import-tab {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;

		div {
			border: 1px solid $gray-lighter;
			width: 100%;
			text-align: center;
		}
	}

	h2 {
		width: 100%;
		box-sizing: border-box;

		margin: 0px;
		padding: 10px 25px;

		border-top-left-radius: 10px;
		border-top-right-radius: 10px;

		color: $color-primary;
		background: $color-accent;

		display: flex;
		justify-content: space-between;

		.hide-popup {
			cursor: pointer;
		}
	}

	.error-message {
		margin-top: 10px;
		color: $red;
		font-weight: 700;
	}
}

.hidden {
	z-index: $z-index-hidden;
}
