@font-face {
  font-family: 'icomoon';
  src: 	url('assets/fonts/icomoon.eot?iwicyl');
  src: 	url('assets/fonts/icomoon.eot?iwicyl#iefix') format('embedded-opentype'),
    	url('assets/fonts/icomoon.ttf?iwicyl') format('truetype'),
    	url('assets/fonts/icomoon.woff?iwicyl') format('woff'),
    	url('assets/fonts/icomoon.svg?iwicyl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-backpack:before {
  content: "\e900";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
