<!DOCTYPE html>
<html>
	<head>
		<title>Adventure Widget Player</title>
		<meta charset="utf-8" />

		<!-- STYLESHEETS -->
		<link href='//fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="assets/player-assets/player.css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="materia.enginecore.js"></script>

		<!-- YOUR PREREQUISITES -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.8.2/angular-sanitize.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-aria/1.8.2/angular-aria.min.js"></script>
		<script src="assets/micromarkdown.min.js"></script>

		<!-- MAIN PLAYER SCRIPT -->
		<script src="assets/player-assets/player.js"></script>
		<script src="assets/legacyQsetSrv.js"></script>
	</head>
	<body id="body" ng-app="Adventure" ng-controller="AdventureController">
		
		<div class="inventory-button-container">
			<button ng-class="{'icon-cross': showInventory, 'show-inventory' : showInventory}" ng-click="toggleInventory()" ng-show="showInventoryBtn"  ng-mouseenter="showInventoryTooltip = true" ng-mouseleave="showInventoryTooltip = false" class="inventory-button">
				<img src="assets/player-assets/BackPack64.png" ng-show="!showInventory"/>
				<span ng-if="showNew" class="new-item">NEW!</span>
			</button>
			<div class="inventory-tooltip" ng-show="showInventoryTooltip">
				<p>Inventory</p>
				<i class="arrow-right"></i>
			</div>
			<div class="inventory-update"
				ng-show="inventoryUpdate"
				ng-class="{'show': inventoryUpdate}"
				>

				<i class="arrow-top"></i>
				<div class="update-content" tabindex="-1">
					<section ng-if="addedItems.length > 0">
						<div class="item" ng-repeat="item in addedItems track by $index" ng-if="item.count > 0" ng-click="toggleInventory(item)">
							<span class="item-count">+ {{item.count}} </span>
							<img ng-if="itemSelection[getItemIndex(item)].icon.url" ng-src="{{itemSelection[getItemIndex(item)].icon.url}}" ng-alt="{{itemSelection[getItemIndex(item)].icon.alt}}"/>
							<p class="item-name">{{itemSelection[getItemIndex(item)].name}}</p>
							<p class="item-description">
								{{itemSelection[getItemIndex(item)].description}}
							</p>
						</div>
					</section>
					<section ng-if="removedItems.length > 0">
						<div class="item" ng-repeat="item in removedItems track by $index" ng-if="item.count < 0" ng-click="toggleInventory(item)">
							<span class="item-count">- {{-1*item.count}}</span>
							<img ng-if="itemSelection[getItemIndex(item)].icon.url" ng-src="{{itemSelection[getItemIndex(item)].icon.url}}" ng-alt="{{itemSelection[getItemIndex(item)].icon.alt}}"/>
							<p class="item-name">{{itemSelection[getItemIndex(item)].name}}</p>
							<div class="item-description"> 
								{{itemSelection[getItemIndex(item)].description}}
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>

		<div class="inventory" ng-class="{ show: showInventory }">
			<div class="inventory-container">
				<h2 class="inventory-header">Inventory Items</h2>
				<div class="inventory-content">
					<div class="inventory-items">
						<div class="item" ng-class="{'selected' : item.id == selectedItem.id}" ng-repeat="item in inventory track by $index" ng-click="setSelectedItem(item)" ng-if="item.count > 0">
							<span ng-if="item.new" class="new-item">NEW!</span>
							<img ng-if="itemSelection[getItemIndex(item)].icon.url" ng-src="{{itemSelection[getItemIndex(item)].icon.url}}" ng-alt="{{itemSelection[getItemIndex(item)].icon.alt}}"/>
							{{itemSelection[getItemIndex(item)].name}}
							<span class="item-count">{{item.count}}</span>
						</div>
					</div>
					<div class="item-description" ng-show="selectedItem">
						<div class="item-header">
							<img ng-if="itemSelection[getItemIndex(selectedItem)].icon.url" ng-src="{{itemSelection[getItemIndex(selectedItem)].icon.url}}" ng-alt="{{itemSelection[getItemIndex(selectedItem)].icon.url}}"/>
							<h3>
								{{itemSelection[getItemIndex(selectedItem)].name}}
							</h3>
						</div>
						<h4>Description</h4>
						<p>{{itemSelection[getItemIndex(selectedItem)].description ? itemSelection[getItemIndex(selectedItem)].description : (itemSelection[getItemIndex(selectedItem)].icon.alt ? itemSelection[getItemIndex(selectedItem)].icon.alt : 'No description')}}</p>
						<h4>Count</h4>
						<p>{{selectedItem.count}}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="backgroundcover" ng-class="{ show: feedback || inventoryUpdate }" ng-click="inventoryUpdate = false;"></div>

		

		<div class="feedback"
			ng-class="{ show: feedback }"
			ng-attr-aria-hidden="{{ !(feedback.length > 0) }}"
			tabindex="-1">
			<div class="feedback-content" tabindex="-1">
				{{feedback}}
			</div>
			<input class="feedback-button trans-button"
				type="button"
				value="OK"
				ng-click="closeFeedback()"
				ng-attr-tabindex="{{feedback.length > 0 ? 0 : -1}}"
				aria-label="{{feedback}}. Return to Widget"
				aria-live="assertive"
				feedback-focus-manager>
		</div>
		<div class="container" ng-class="{
			'hotspot-mode' : question.type == HOTSPOT}">
			<header class="header" ng-class="{'show-title' : !hideTitle}">
				<h1>{{title}}</h1>
			</header>
			<section class="question clearfix"
				ng-class="{
					'hotspot-mode' : question.type == HOTSPOT,
					'shortans-mode' : question.type == SHORTANS,
					'transitional-mode' : question.type == NARR || question.type == END,
					'hidden-title' : hideTitle == true,
					'end-screen-mode' : question.type == OVER,
					'right': layout == 'right',
					'left': layout == 'left',
					'bottom': layout == 'bottom',
					'top': layout == 'top',
				}"
				focus-manager
				aria-live="assertive"
				tabindex="0">
				<h2 class="text"
				ng-hide="question.text.length == 0"
				auto-text-scale ng-bind-html="question.text" ng-if="layout != 'image-only'"></h2>
				<div class="asset" ng-if="type != HOTSPOT">
					<img ng-if="question.options.asset.type === 'image'" ng-src="{{ question.image }}" alt="{{question.options.asset.alt ? question.options.asset.alt : ''}}" />
					<iframe class="video" ng-if="question.options.asset.type === 'video'" ng-src="{{question.video}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen dynamic-media-scale></iframe>
					<button class="expand-btn icon-enlarge" ng-if="question.options.asset.type === 'video' || question.options.asset.type === 'image'" aria-label="Enlarge image" ng-click="setLightboxTarget(1)"></button>
				</div>
			</section>
			<section class="answers"
			ng-class="{
				'hotspot-mode' : question.type == HOTSPOT,
				'no-question' : question.text.length == 0,
				'hidden-title' : hideTitle == true,
				'transitional-mode' : question.type == NARR || question.type == END}"
			ng-hide="question.type == OVER">
			<div class="mc"
				ng-show="question.type == MC">
				<button
					class="answer"
					ng-if="!(answer.hideAnswer && checkInventory(answer).length)"
					ng-class="{'nonselectable' : checkInventory(answer)[0]}"
					ng-repeat="answer in answers"
					ng-click="handleAnswerSelection(answer.link, answer.index)"
					ng-keyup="$event.keyCode == 13 ? handleAnswerSelection(answer.link, answer.index) : null"
					data-index="{{answer.index}}"
					data-link="{{answer.link}}"
					tabindex="0">
					<span class="answer-text">{{answer.text}}</span>
					<div class="answer-required-items" ng-if="answer.requiredItems.length">
						<span class="required-item" ng-repeat="item in answer.requiredItems">
							<img ng-if="itemSelection[getItemIndex(item)].icon.url" ng-src="{{itemSelection[getItemIndex(item)].icon.url}}"/>
							{{itemSelection[getItemIndex(item)].name}} <span class="item-quantity">({{item.minCount == item.maxCount ? item.minCount : item.minCount + " - " + item.maxCount}})</span>
						</span>
					</div>
				</button>
			</div>
			<div class="sa"ng-show="question.type == SHORTANS">
				<input type="text"
					class="short-answer"
					ng-model="response"
					ng-enter="handleShortAnswerInput()" />
				<input type="button"
					class="trans-button"
					value="Submit"
					ng-click="handleShortAnswerInput()"
					tabindex="0" />
			</div>
			<div class="hotspot" ng-if="question.type == HOTSPOT">
				<!-- label element for the hotspot label text, if it exists -->
				<div class="hotspot-label"
					id="hotspot-label"
					ng-click="handleAnswerSelection(answer.link,answer.index)"
					ng-style="{'top':hotspotLabelTarget.y + 'px', 'left':hotspotLabelTarget.x + 'px','opacity':hotspotLabelTarget.show? '1' : '0'}"
					aria-hidden="true"
					>
					{{hotspotLabelTarget.text}}
				</div>

				<svg version="1.1"
					class="hotarea"
					xmlns:cc="http://web.resource.org/cc/"
					xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
					xmlns:dc="http://purl.org/dc/elements/1.1/"
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					xml:space="preserve">
					<g
						ng-repeat="answer in answers"
						ng-attr-transform="matrix(1 0 0 1 {{answer.options.svg.x}} {{answer.options.svg.y}})"
						data-label="{{answer.text}}"
						visibility-manager
						label-manager
						ng-click="handleAnswerSelection(answer.options.link,answer.index)"
						>
						<ellipse ng-if="answer.options.svg.type == 'ellipse'"
							ng-attr-cx="0"
							ng-attr-cy="0"
							ng-attr-rx="{{answer.options.svg.r + answer.options.svg.scaleXFactor}}"
							ng-attr-ry="{{answer.options.svg.r + answer.options.svg.scaleYFactor}}"
							fill="{{answer.options.svg.fill}}"
							stroke="{{answer.options.svg.fill}}"
							stroke-width="{{answer.options.svg.stroke}}"
							fill-opacity="0.5"
							ng-mouseover='onHotspotHover(answer, $event)'
							ng-mouseout='onHotspotHoverOut($event)'
							ng-focus='onHotspotHover(answer, $event)'
							ng-blue='onHotspotHoverOut($event)'
							ng-click="handleAnswerSelection(answer.options.link,answer.index)"
							ng-keyup="$event.keyCode == 13 ? handleAnswerSelection(answer.options.link,answer.index) : null"
							tabindex="0"
							aria-label="{{answer.text}}"/>

						<rect ng-if="answer.options.svg.type == 'rect'"
							ng-attr-x="0"
							ng-attr-y="0"
							ng-attr-width="{{answer.options.svg.width + answer.options.svg.scaleXFactor}}"
							ng-attr-height="{{answer.options.svg.height + answer.options.svg.scaleYFactor}}"
							fill="{{answer.options.svg.fill}}"
							stroke="{{answer.options.svg.fill}}"
							stroke-width="{{answer.options.svg.stroke}}"
							fill-opacity="0.5"
							ng-mouseover='onHotspotHover(answer, $event)'
							ng-mouseout='onHotspotHoverOut($event)'
							ng-focus='onHotspotHover(answer, $event)'
							ng-blue='onHotspotHoverOut($event)'
							ng-click="handleAnswerSelection(answer.options.link,answer.index)"
							ng-keyup="$event.keyCode == 13 ? handleAnswerSelection(answer.options.link,answer.index) : null"
							tabindex="0"
							aria-label="{{answer.text}}"/>

						<polygon ng-if="answer.options.svg.type == 'polygon'"
							ng-attr-points="{{answer.options.svg.points}}"
							fill="{{answer.options.svg.fill}}"
							stroke="{{answer.options.svg.fill}}"
							stroke-width="{{answer.options.svg.stroke}}"
							fill-opacity="0.5"
							ng-mouseover='onHotspotHover(answer, $event)'
							ng-mouseout='onHotspotHoverOut($event)'
							ng-focus='onHotspotHover(answer, $event)'
							ng-blue='onHotspotHoverOut($event)'
							ng-click="handleAnswerSelection(answer.options.link,answer.index)"
							ng-keyup="$event.keyCode == 13 ? handleAnswerSelection(answer.options.link,answer.index) : null"
							tabindex="0"
							aria-label="{{answer.text}}"/>
					</g>
				</svg>
				<img ng-if="question.options.asset.type === 'image'" alt="{{question.options.asset.alt ? question.options.asset.alt : ''}}" ng-src="{{question.image}}">
			</div>
			<div class="trans" ng-if="question.type == NARR">
				<input type="button"
					class="trans-button"
					ng-class='{ left: question.layout == 2, right: question.layout == 3 }'
					value="Continue"
					ng-click="handleAnswerSelection(link,0)"
					tabindex="0" />
			</div>
		</section>
		</div>
		<section class="lightbox" ng-class="{ 'show': lightboxTarget != -1}" ng-hide="lightboxTarget == -1">
			<div class="lightbox-content">
				<button class="lightbox-close icon-cross" ng-click="setLightboxTarget(-1)" ng-attr-tabindex="{{lightboxTarget != -1 ? 0 : -1}}" lightbox-focus-manager aria-label="close lightbox"></button>
				<div ng-if="question.options.asset.type == 'image'" class="lightbox-image-container">
					<img class="lightbox-image" ng-src="{{question.image}}" alt="{{question.text}}" ng-class="{'lightbox-image-zoom': lightboxZoom == 1}" ng-click="setLightboxZoom(!lightboxZoom)">
				</div>
				<iframe class="lightbox-video" ng-if="question.options.asset.type == 'video'" ng-src="{{question.video}}" frameborder="0" allowfullscreen></iframe>
			</div>
		</section>
	</body>
</html>
