<!--UNFINISHED-->
<!DOCTYPE html>
<html lang="en" ng-app="AdventureScorescreen">
	<head>
		<title>Adventure Score Screen</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<!-- STYLESHEETS -->
		<link href='//fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="scoreScreen.css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="materia.scorecore.js"></script>

		<!-- YOUR PREREQUISITES -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.8.2/angular-sanitize.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-aria/1.8.2/angular-aria.min.js"></script>
		<script src="assets/micromarkdown.min.js"></script>
	</head>
	<body>
		<div id="score-content" class="content-frame" ng-controller="AdventureScoreCtrl">

			<h2>Review Your Journey</h2>

			<section class="timeline">
				<div class="destination {{row.type}}" ng-repeat="row in table track by $index">
					<span class="icon mc" ng-if="row.type == 'mc'">
						<img src="assets/creator-assets/mc.svg" alt="multiple choice icon" />
					</span>
					<span class="icon sa" ng-if="row.type == 'shortanswer'">
						<img src="assets/creator-assets/sa.svg" alt="short answer icon" />
					</span>
					<span class="icon hotspot" ng-if="row.type == 'hotspot'">
						<img src="assets/creator-assets/hs.svg" alt="hotspot icon" />
					</span>
					<span class="icon narr" ng-if="row.type == 'narrative'">
						<img src="assets/creator-assets/narr.svg" alt="narrative icon" />
					</span>
					<span class="icon end" ng-if="row.type == 'end'">
						<img src="assets/creator-assets/end.svg" alt="end point icon" />
					</span>
					<div class="question {{row.type}}" ng-if="row.question">
						{{row.question}}
					</div>
					<div class="response" ng-if="row.answer">
						{{row.answer}}
					</div>
					<div class="end-row" ng-if="row.type == 'end'">
						<p>{{ row.text }}</p>
						<div class="end-row-score">
							<p>{{ row.score }}%</p>
						</div>
					</div>
					<div class="items" ng-if="row.items.length">
						<div
							class="item"
							ng-class="{'item-received' : item.count > 0, 'item-taken' : item.count < 0}"
							ng-repeat="item in row.items"
							ng-hide="getItemById(item.id).isSilent">
							<div class="received" ng-if="item.count > 0">
								<img class="item-icon" ng-src="{{getItemUrl(item.id)}}" />
								{{ getItemById(item.id).name }}
								<span class="quantity">({{ item.count }})</span>
							</div>
							<div class="taken" ng-if="item.count < 0">
								<img class="item-icon" ng-src="{{getItemUrl(item.id)}}" />
								{{ getItemById(item.id).name }}
								<span class="quantity">({{ item.count }})</span>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<!-- MAIN WIDGET SCRIPT -->
		<script src="scoreScreen.js"></script>
	</body>
</html>