<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Adventure Score Screen</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<!-- STYLESHEETS -->
		<link href='//fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="assets/score-assets/score.css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="materia.scorecore.js"></script>

		<!-- YOUR PREREQUISITES -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.8.2/angular-sanitize.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-aria/1.8.2/angular-aria.min.js"></script>
		<script src="assets/micromarkdown.min.js"></script>

		<!-- MAIN WIDGET SCRIPT -->
		<script src="assets/score-assets/scoreScreen.js"></script>
	</head>
	<body ng-app="AdventureScorescreen">
		<div class="content-frame" ng-controller="AdventureScoreCtrl">
			<section class="inventory">
                <h1 class="inventory-header">Inventory Items</h1>
                <div class="inventory-content">
                    <div class="inventory-items">
                        <div class="item" ng-repeat="item in inventory track by $index" ng-click="setSelectedItem(item)">
                            <span ng-if="item.new" class="new-item">NEW!</span><span ng-if="item.icon.icomoon" class="icon-{{item.icon.icomoon_name}}"></span>
                            <img ng-if="item.icon.url" ng-src="{{item.icon.url}}" ng-alt="{{item.icon.alt}}"/>
                            {{item.name}}
                        </div>
                    </div>
                    <div class="item-description" ng-show="selectedItem">
                        <div class="item-header">
                            <span ng-if="selectedItem.icon.icomoon" class="icon-{{selectedItem.icon.icomoon_name}}"></span>
                            <img ng-if="selectedItem.icon.url" ng-src="{{selectedItem.icon.url}}" ng-alt="{{selectedItem.icon.alt}}"/>
                            <h3>
                                {{selectedItem.name}}
                            </h3>
                        </div>
                        <h4>Description</h4>
                        <p>{{selectedItem.description ? selectedItem.description : (selectedItem.icon.alt ? selectedItem.icon.alt : 'No description')}}</p>
                        <h4>Count</h4>
                        <p>{{selectedItem.count}}</p>
                        <p ng-show="selectedItem.numberOfUsesLeft != -999">Number of Uses Left: {{selectedItem.numberOfUsesLeft}}<p>
                    </div>
                </div>
            </section>
		</div>
	</body>
</html>