/* Adventure 2.0 Player Styles */

/* Variable definitions */

$black: #000000;
$white: #ffffff;
$red: #b90000;
$red-lighter: #de0000;
$red-lightest: #ffd7d7;

$blue: #3d90b1;
$blue-lighter: #49afd7;
$blue-lightest: #bdecff;

$gray-darker: #333333;
$gray: #888888;
$gray-lighter: #cccccc;
$gray-lightest: #eaeaea;


$background: $gray-lighter;
$color-primary: $white;
$color-accent: $blue;
$color-accent-highlight: $blue-lighter;
$color-selection-hover: $blue-lightest;

$shadow-dialog: 0px 3px 3px $gray;
$shadow-small: 0px 0px 2px $gray;
$shadow-small-highlight: 0px 0px 5px $gray;

* {
	outline: 0;
}

html, body {
	cursor: default;
	background-color: #fff;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;

	overflow-y: hidden;

	user-select: none;
}

body {
	position: relative;
	z-index: 0;
	height: 593px; // determined from the height parameter in install.yaml
}

.header {
	display: none; // default is display:none so header doesn't "flash" when the title is supposed to be hidden. Thanks Angular!
	width:100%;
	text-align:center;
	background:$blue;
	padding:10px 0px;
	color:#ffffff;

	&.show-title {
		display: block;
	}
}

.section {
	background: #fff;
}

h1 {
	margin: 0px;
}

.question {
	position: relative;
	padding: 15px 30px 10px 30px;

	display: block;
	background: #fff;

	&.hotspot-mode {
		max-height: 65px;

		h2 {
			max-height: 65px;
		}

		&.hidden-title {
			max-height: 115px;

			h2 {
				max-height: 115px;
			}
		}
	}

	&.shortans-mode {
		h2 {
			max-height: 380px;
		}

		&.hidden-title {
			h2 {
				max-height: 433px;
			}
		}
	}

	&.transitional-mode {
		h2 {
			max-height: 428px;

			&.top, &.bottom {
				max-height: 170px;
			}
		}

		&.hidden-title {
			h2 {
				max-height: 472px;

				&.top, &.bottom {
					max-height: 215px;
				}
			}
		}
	}

	&.hidden-title {
		padding-top: 35px;
	}

	&.end-screen-mode {
		h2 {
			padding: 35px 0px 15px 0px;

			border-bottom: solid 1px $gray-lightest;

			font-size: 18px;
			font-weight: bold;


		}
	}

	h2 {
		margin: 0px;

		overflow-y: auto;
		vertical-align: top;

		font-family: 'Open Sans', sans-serif;
		font-size:22px;
		font-weight: normal;
		color:#363636;

		white-space: pre-wrap;

		b {
			font-weight: bold;
		}

		&.left {
			max-width: 45%;
			display:inline-block;
		}
		&.right {
			position: absolute;
			display:inline-block;
			top: 35px;
			right: 20px;

			max-width:45%;
		}
		&.top, &.bottom {
			text-align: center;
		}
	}
}

.asset {
	margin: 0px 40px;

	img, iframe {
		border: solid 6px $white;
		border-radius: 10px;
		box-shadow: $shadow-small-highlight;
	}

	&.right {
		display: inline-block;
		margin-right: 40px;
		float: right;

		text-align: center;
	}

	&.center {
		margin: 15px auto;
		text-align: center;
	}

	&.image-only
	{
		display: block;

		margin: 0 auto;

		text-align: center;
	}

}

.asset-container {
	position: relative;
	width: fit-content;
}

.answers {
	position: absolute;
	bottom: 0px;
	z-index: 10;

	width: 740px;

	margin: 15px;
	padding: 15px;

	max-height: 250px;
	// overflow-y: auto;

	font-family: 'Lora', serif;

	background: $white;
	box-shadow: 0px 0px 3px #888888;

	&.hotspot-mode {
		max-height: 410px;

		&.no-question {
			max-height: 440px;
			bottom: 45px;

			&.hidden-title {
				max-height:485px;
				bottom: 65px;
				padding-top: 25px;
			}
		}
	}
	.mc {
		max-height: 250px;

		overflow-y: auto;

		.answer {
			display:block;
			margin-bottom:10px;
			font-size: 18px;
			color:#000000;
			text-decoration:none;

			font-weight: normal;

			counter-increment: q;
			vertical-align: middle;

			&:hover, &:focus {
				color: $blue;
			}

			&:before {
				content: counter(q, upper-alpha);
			}
		}
	}
	.sa {
		position: relative;
		text-align: center;
		margin: 20px 0px;

		&:before {
			display: block;
			font-size: 14px;
			font-family: 'Lora';
			font-weight: bold;
			color: #555;
			background: #fef6b1;
			position: absolute;
			left: 115px;
			top: -18px;
			content: 'Type your answer here:';
			padding: 0px 5px;
		}

		.trans-button {
			vertical-align: top;
			width: 100px;
		}
		.short-answer {
			width: 400px;
			height:36px;
			font-size:20px;
			font-family: 'Lora' serif;
			border:solid 1px #d3d3d3;
			border-radius:5px;
			vertical-align: top;

		}
	}

	.trans {
		text-align: center;
	}
}

.trans-button {
	width:300px;
	height:40px;
	font-size:16px;
	font-weight:bold;
	background:$blue;
	border:solid 1px #d3d3d3;
	border-radius:5px;
	color:#ffffff;
	cursor: pointer;

	&:hover, &:hover {
		background: $blue-lighter;
	}
	&.left {
		float: left;
	}
	&.right {
		right: 50px;
		position:absolute;
		bottom: 20px;
	}
}

.backgroundcover {
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #000;
	opacity: 0;
	position: fixed;
	z-index: -1;

	&.show {
		z-index: 12;
		opacity: 0.5;
	}
}

.feedback {
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	width: 540px;
	height: 300px;

	margin-left: -270px;
	margin-top: -170px;

	border: 5px solid #999;
	background: #fff;

	opacity: 0;

	&:before {
		display: block;
		font-size: 14px;
		font-family: 'Lora';
		font-weight: bold;
		color: #555;
		background: #fef6b1;
		position: absolute;
		left: -5px;
		top: -25px;
		content: 'FEEDBACK';
		padding: 0px 5px;
	}

	&.show {
		z-index: 1000;
		opacity: 1;
	}

	.feedback-content {
		width: 500px;
		height: 190px;

		margin-top: 6px;
		padding: 20px;

		font-size: 24px;
		font-weight: bold;

		overflow-x: hidden;
		overflow-y: scroll;
	}

	input {
		position: absolute;
		left: 50%;
		width: 120px;
		margin: 14px 0px 14px -60px;
	}
}

.hotspot {
	position: relative;
	text-align: center;

	img,
	iframe {
		position: relative;

		max-width: 698px;
		max-height: 400px;

		margin-left: auto;
		margin-right: auto;
	}

	iframe {
		height: 400px;
		width: 100%;
	}

	svg.hotarea {
		pointer-events: none;
		position: absolute;
		display: block;

		width: 698px;
		height: 400px;
		z-index: 10;

		left: 50%;
		margin-left: -349px;

		g {
			pointer-events: auto;
		}
	}

	.hotspot-label {
		position:absolute;
		z-index: 15;

		max-width: 180px;

		padding: 8px;

		border-radius: 5px;
		color: #fff;
		background: rgba(0,0,0,0.8);
		font-weight: normal;

		cursor: pointer;
	}
}

rect, ellipse, polygon {
	cursor: pointer;
	&:hover {
		opacity: 0.7;
	}
}

.expand-btn {
	padding: 6px 10px;
	margin: 10px auto;

	font-size:16px;
	font-weight:bold;
	background:$blue;
	border:solid 1px #d3d3d3;
	border-radius:5px;
	color:#ffffff;

	cursor: pointer;

	position: absolute;
	right: 10px;
	top: 0;

	.icon {
		font-size: 0.9em;
	}

	&:hover, &:focus {
		background: $blue-lighter;
	}
}

/** Copied from this-or-that-widget **/

.lightbox {
	position: absolute;
	z-index: -500;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;

	background: rgba(55,55,55,0.75);

	cursor: pointer;

	&.show {
		z-index: 500;
	}

	.lightbox-content {
		position: relative;
		width: 80%;
		height: 80%;
		margin: 10%;
		background: rgba(45,45,45,1);

		cursor: default;

		.lightbox-close {
			position: absolute;
			top: 5px;
			right: 5px;
			z-index: 1;

			width: 30px;
			height: 30px;

			border: none;
			border-radius: 5px;

			color: #fff;
			background: #e42b20;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);

			font-size: 18px;
			font-weight: bold;
			text-align: center;

			cursor: pointer;

			&:hover, &:focus {
				background: #6c6c6c;
			}
		}

		.lightbox-video {
			width: calc(100% - 20px);
			height: calc(100% - 20px);
			margin-top: 10px;
			margin-left: 10px;
		}

		.lightbox-image-container {
			height: calc(100% - 20px);
			margin-top: 10px;
			margin-left: 10px;
			overflow: auto;
		}

		.lightbox-image {
			height: calc(100% - 20px);
			position: relative;
			display: block;
			margin: 20px auto 0 auto;
		}

		.lightbox-image:hover {
			cursor: zoom-in;
		}

		.lightbox-image-zoom {
			width: calc(100% - 20px);
			height: auto;
		}

		.lightbox-image-zoom:hover {
			cursor: zoom-out;
		}
	}
}
