/* Adventure 2.0 Player Styles */

@import '../../assets/icomoon.css';

/* Variable definitions */

$black: #000000;
$white: #ffffff;
$red: #b90000;
$red-darker: #950d05;
$red-lighter: #de0000;
$red-lightest: #ffd7d7;

$blue: #3d90b1;
$blue-lighter: #49afd7;
$blue-lightest: #bdecff;
$blue-focus: #66dbff;

$gray-darker: #333333;
$gray: #888888;
$gray-lighter: #cccccc;
$gray-lightest: #eaeaea;

$green: #7ce678;
$green-lighter: rgb(115, 206, 112);
$green-darker: rgb(115, 206, 112);

$background: $gray-lighter;
$color-primary: $white;
$color-accent: $blue;
$color-accent-highlight: $blue-lighter;
$color-selection-hover: $blue-lightest;

$shadow-dialog: 0px 3px 3px $gray;
$shadow-small: 0px 0px 2px $gray;
$shadow-small-highlight: 0px 0px 5px $gray;

* {
	outline: 0;
}

html, body {
	cursor: default;
	background-color: #fff;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;

	overflow-y: hidden;

	user-select: none;
}

body {
	position: relative;
	z-index: 0;
	height: 593px; // determined from the height parameter in install.yaml
}

.header {
	display: none; // default is display:none so header doesn't "flash" when the title is supposed to be hidden. Thanks Angular!
	width:100%;
	min-height: 50px;
	text-align:center;
	background:$blue;
	padding:10px 0px;
	color:#ffffff;
	height: 50px;

	&.show-title {
		display: block;
	}

	h1 {
		display: inline-block;
	}

}

.warning-text {
	color: $red-lighter;
}

.inventory-button {
	display: inline-block;
	position: absolute;
	right: 9px;
	top: 3px;
	z-index: 1001;

	width:62px;
	height:62px;
	padding: 8px;
	
	// Inventory z-index is 1000

	font-size: 24px;
	color: $blue;

	background: rgba(0,0,0,0.1);
	border: none;
	border-radius:5px;
	cursor: pointer;

	&:hover {
		background: $blue-lightest;
	}

	img {
		width: 48px;
		height: 48px;
	}
}

button.show-inventory {
	width:40px;
	height:40px;
	top: 10px;
	background: $white;

	&:focus {
		outline: 3px solid $blue-focus;
		background: $white;
	}
}

.new-item {
	border-radius: 10px;
	display: inline-block;
	background-color: $red-lighter;
	color: white;
	font-size: 10px;
	font-style: italic;
	padding: 2px 5px;
	margin: 0px 5px;
	box-sizing:border-box;

	position: absolute;
	left: -18px;
	top: 2px;
}

.notif-message {
	animation: 'notif-bounce' 0.6s infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;

	z-index: 100;
	position: absolute;
	right: 10px;
	top: 80px;

	background: $blue-lighter;
	color: $white;
	box-shadow: $shadow-dialog;
	opacity: 80%;

	border-radius: 5px;
	padding: 5px 10px;

	font-size: 14px;
	max-width: 100px;
	text-align: center;

	&::before {
		position: absolute;
		content: "";
		width: 0px;
		height: 0px;
		border-bottom: 15px solid $blue-lighter;
		border-right: 15px solid transparent;
		border-top: 15px solid transparent;
		border-left: 15px solid transparent;
		top: -25px;
		right: 5px;
	}

	img {
		width: 35px;
		height: 35px;
	}
}

.arrow-right {
	border-top: 13px solid transparent;
	border-left: 8px solid $color-accent;
	border-bottom: 13px solid transparent;
}

.arrow-top {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid $gray-darker;
}

@keyframes notif-bounce {
	0% {
		top: 80px;
	}
	100% {
		top: 85px;
	}
}

.section {
	background: #fff;
}

h1 {
	margin: 0px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.question {
	position: relative;
	padding: 15px 30px 10px 30px;
	box-sizing: border-box;
	margin-bottom: auto;

	display: block;
	background: #fff;

	max-height: 250px;

	flex-grow: 1;

	.asset {
		display: flex;
		justify-content: right;
		position: relative;
		max-width: 50%;
		max-height: 350px;

		img, iframe {
			border: solid 6px $white;
			border-radius: 10px;
			box-shadow: $shadow-small-highlight;
		}

		img {
			max-width: 100%;
			height: 100%;
		}
	}

	&.hotspot-mode {
		padding: 5px 30px 10px 30px;
		max-height: 65px;

		h2 {
			max-height: 65px;
			white-space: normal;
		}

		&.hidden-title {
			max-height: 115px;

			h2 {
				max-height: 115px;
			}
		}
	}

	&.shortans-mode {
		max-height: 380px;

		&.hidden-title {
			h2 {
				max-height: 433px;
			}
		}
	}

	&.transitional-mode {
		max-height: 425px;

		&.top .asset, &.bottom .asset {
			max-height: 250px;
		}

		h2 {
			max-height: 428px;

			&.top, &.bottom {
				max-height: 170px;
			}
		}

		&.hidden-title {
			h2 {
				max-height: 472px;

				&.top, &.bottom {
					max-height: 215px;
				}
			}
		}
	}

	&.hidden-title {
		padding-top: 35px;
	}

	&.end-screen-mode {
		h2 {
			padding: 35px 0px 15px 0px;

			border-bottom: solid 1px $gray-lightest;

			font-size: 18px;
			font-weight: bold;


		}
	}

	&.right, &.left, &.top, &.bottom {
		display: flex;
		justify-content: space-between;
		grid-gap: 10px;
	}

	&.right, &.left {
		h2 {
			width: 100%;
		}
	}

	&.right {
		flex-direction: row;
	}

	&.left {
		flex-direction: row-reverse;
	}

	&.top, &.bottom {
		align-items: center;
	}

	&.top {
		flex-direction: column;
	}

	&.bottom {
		flex-direction: column-reverse;
	}

	h2 {
		margin: 0px;

		overflow-y: auto;
		vertical-align: top;

		font-family: 'Open Sans', sans-serif;
		font-size:22px;
		font-weight: normal;
		color:#363636;

		white-space: pre-wrap;

		b {
			font-weight: bold;
		}

		// &.left {
		// 	max-width: 45%;
		// 	display:inline-block;
		// }
		// &.right {
		// 	position: absolute;
		// 	display:inline-block;
		// 	top: 35px;
		// 	right: 20px;
		//
		// 	max-width:45%;
		// }
		// &.top, &.bottom {
		// 	text-align: center;
		// }
	}
}

.asset {
	//margin: 0px 40px;

	img, iframe {
		border: solid 6px $white;
		border-radius: 10px;
		box-shadow: $shadow-small-highlight;
	}

	// &.right {
	// 	display: inline-block;
	// 	margin-right: 40px;
	// 	float: right;
	//
	// 	text-align: center;
	// }
	//
	// &.center {
	// 	margin: 15px auto;
	// 	text-align: center;
	// }
	//
	// &.image-only
	// {
	// 	display: block;
	//
	// 	margin: 0 auto;
	//
	// 	text-align: center;
	// }

}

.answers {
	position: relative;
	z-index: 10;

	width: 740px;

	margin: 15px;
	padding: 15px;

	max-height: 250px;
	// overflow-y: auto;

	font-family: 'Lora', serif;

	background: $white;
	box-shadow: 0px 0px 3px #888888;

	&.hotspot-mode, &.transitional-mode {
		position: absolute;
		bottom: 0px;
	}

	&.hotspot-mode {
		max-height: 410px;

		&.no-question {
			max-height: 440px;
			bottom: 45px;

			&.hidden-title {
				max-height:485px;
				bottom: 65px;
				padding-top: 25px;
			}
		}
	}
	.mc {
		position: relative;
		max-height: 250px;

		overflow-y: auto;

		.answer {
			display: flex;
			align-items: center;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;
			margin-bottom:10px;
			// padding-left: 20px;

			color:#000000;

			background: none;
			border: none;
			text-decoration:none;

			font-size: 18px;
			font-weight: normal;
			font-family: 'Lora';

			text-align: left;

			counter-increment: q;
			cursor: pointer;

			&:hover, &:focus {
				color: $blue;
				background: #fafafa;
			}

			&:before {
				content: counter(q, upper-alpha) ")";
				padding-right: 10px;
			}

			&:focus {
				outline: thick solid $blue-focus;
			}

			&:active {
				outline: 0;
			}

			&.nonselectable {
				cursor: default;
				font-style: italic;

				.answer-required-items {
					color: $red-lighter;
				}
			}

			.answer-text {
				max-width: calc(100% - 34px);
			}

			.answer-required-items {
				display: flex;
				align-items: center;
				flex-direction: row;
				font-size: 0.8em;
				margin-left: auto;

				&:before {
					margin-left: 10px;
					padding: 5px;
					content: "Requires: ";
					font-size: 0.8em;
					font-style: italic;
				}

				.required-item {
					display: flex;
					align-items: center;
					flex-direction: row;
					
					margin: 5px 5px 5px 0;
					padding: 5px;
					
					background: $color-primary;
					border: solid 1px $gray-lighter;
					// background: $gray-lightest;
					border-radius: 3px;
	
					img {
						width: 24px;
						height: 24px;
						margin-right: 5px;
					}

					.item-quantity {
						margin-left: 5px;
						font-size: 0.8em;
					}
				}
			}
		}
	}
	.sa {
		position: relative;
		text-align: center;
		margin: 20px 0px;

		&:before {
			display: block;
			font-size: 14px;
			font-family: 'Lora';
			font-weight: bold;
			color: #555;
			background: #fef6b1;
			position: absolute;
			left: 115px;
			top: -18px;
			content: 'Type your answer here:';
			padding: 0px 5px;
		}

		.trans-button {
			vertical-align: top;
			width: 100px;

			&:focus {
				outline: thick solid $blue-focus;
			}

			&:active {
				outline: 0;
			}
		}
		.short-answer {
			width: 400px;
			height:36px;
			font-size:20px;
			font-family: 'Lora' serif;
			border:solid 1px #d3d3d3;
			border-radius:5px;
			vertical-align: top;

		}
	}

	.trans {
		text-align: center;
	}
}

.trans-button {
	width:300px;
	height:40px;
	font-size:16px;
	font-weight:bold;
	background:$blue;
	border:solid 1px #d3d3d3;
	border-radius:5px;
	color:#ffffff;
	cursor: pointer;

	&:focus {
		outline: thick solid $blue-focus;
	}

	&:active {
		outline: 0;
	}

	&:hover {
		background: $blue-lighter;
	}
	&.left {
		float: left;
	}
	&.right {
		right: 50px;
		position:absolute;
		bottom: 20px;
	}
}

.backgroundcover {
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #000;
	opacity: 0;
	position: fixed;
	z-index: -1;

	&.show {
		z-index: 12;
		opacity: 0.5;
	}
}

.inventory {
	position: absolute;
	z-index: -500;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	opacity: 0;

	background: rgba(55,55,55,0.75);

	&.show {
		z-index: 1000;
		opacity: 1;
	}

	.inventory-container {
		position: relative;
		margin: 20px;
		height: 90%;

		display: flex;
		flex-direction: column;

		border-radius: 10px;
		background: #fff;

		.inventory-header {
			text-align:center;
			background:$blue;
			padding:10px 0px;
			margin: 0;
			color: $white;
			border-radius: 10px 10px 0px 0px;

		}

		.inventory-content {
			display: flex;
			flex-direction: row;
			align-items: stretch;
			height: 100%;

			.inventory-items {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-content: flex-start;
				flex-grow:2;
				overflow: auto;

				div.item {
					padding: 15px;
					margin: 15px;
					border-radius: 10px;
					max-height: 25px;

					position: relative;

					display: flex;
					flex-direction: row;
					align-items: center;
					grid-gap: 10px;

					border: solid 1px $gray-lighter;
					background-color: $color-primary;

					&:hover {
						cursor: pointer;
						background: $blue-lightest;
						
						// box-shadow: $shadow-small-highlight;
					}

					&.selected {
						background: $blue-lightest;
						border: solid 1px $color-accent;
					}

					img {
						width: 35px;
						height: 35px;
						object-fit: cover;
					}
				}

				.new-item {
					border-radius: 10px;
					display: inline-block;
					background-color: $red-lighter;
					color: white;
					font-size: 10px;
					font-style: italic;
					padding: 2px 5px;
					margin: 0px 5px;
					box-sizing:border-box;

					position: absolute;
					left: 0;
					top: 0;
				}

				.item-count {
					position: absolute;
					right: -5px;
					bottom: -5px;
					width: 15px;
					height: 15px;
					border-radius: 50%;
					border: 2px $blue-lighter solid;
					text-align: center;
					display: flex;
					flex-direction: column;
					justify-content: center;
					background-color: $white;
					font-size: 10px;
				}
			}

			.item-description {
				flex-grow: 1;
				background-color: $gray-lightest;
				min-width: 200px;
				border-radius: 10px;

				h4 {
					margin: 0 0 10px 0;
					padding-left: 10px;
					border-bottom: 1px solid $blue-lighter;
					font-size: 14px;
				}

				p {
					margin-top: 0;
					font-size: 12px;
				}

				.item-header {
					display: flex;
					flex-direction: row;
					grid-gap: 20px;
					align-items: center;

					background: $blue-lighter;
					margin: 0;
					padding: 10px;
					color: $white;
					img {
						width: 35px;
						height: 35px;
						object-fit: cover;
					}

					h3 {
						background: $blue-lighter;
						margin: 0;
						color: $white;
						font-size: 16px;
					}
				}

				p {
					padding: 0 10px;
				}
			}
		}
	}
}

.inventory-tooltip {
	position: absolute;
	right: 80px;
	top: 10px;
	z-index: 50;
	background: $gray-darker;
	color: $color-primary;
	border-radius: 10px;
	padding: 0 5px;
	font-size: 12px;

	.arrow-right {
		position: absolute;
		right: -5px;
		top: 8px;
		border-left-color:$gray-darker;
	}
}

.feedback {
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	width: 540px;
	height: 300px;

	margin-left: -270px;
	margin-top: -170px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	border: 2px solid $gray-lightest;
	border-radius: 3px;
	background: #fff;
	box-shadow: $shadow-small;

	opacity: 0;

	&:before {
		display: block;
		font-size: 14px;
		// font-family: 'Lora';
		font-weight: bold;
		color: #555;
		background: #fef6b1;
		position: absolute;
		left: 0px;
		top: -22px;
		padding: 0px 5px;
	}

	&.feedback:before {
		content: 'FEEDBACK';
	}

	&.inventory-update:before {
		content: 'INVENTORY UPDATED';
	}

	&.show {
		z-index: 1000;
		opacity: 1;
	}

	.feedback-content {
		width: 500px;
		height: 190px;

		padding: 20px;

		font-size: 24px;
		font-weight: bold;

		overflow-x: hidden;
		overflow-y: auto;
	}

}
.inventory-button-container {
	position: relative;
}

.inventory-update {
	z-index: -1;
	position: absolute;
	width: 75%;
	right: 10px;
	top: 75px;

	border-radius: 10px;
	background: #fff;
	box-shadow: $shadow-small;

	font-size: 24px;
	font-weight: bold;

	&.show {
		z-index: 1000;
		opacity: 1;
		box-shadow: $gray-darker 0px 7px 15px;
	}

	.arrow-top {
		border-bottom-color: $white;
		position: absolute;
		right: 15px;
		top: -10px;
	}

	.update-content {
		font-size: 14px;

		.item {
			display: flex;
			flex-direction: row;
			align-items: center;
			border-radius: 10px;

			padding: 10px;
			margin: 10px 0;

			.item-count {
				min-width: 30px;
			}

			.item-name {
				min-width: 50px;
			}

			.item-description {
				padding-left: 20px;
				font-style: italic;
			}

			&:hover {
				color: $blue;
				cursor: pointer;
			}
		}

		img {
			max-width: 45px;
			max-height: 45px;
			object-fit: cover;
			margin-right: 5px;
		}
	}


	.update-buttons {
		display: flex;
		flex-direction: row;
		gap: 20px;
		justify-content: space-around;
		padding: 10px;

		input {
			width: fit-content;
			padding: 10px;
		}
	}
}

.hotspot {
	position: relative;
	text-align: center;

	img,
	iframe {
		position: relative;

		max-width: 698px;
		max-height: 400px;

		margin-left: auto;
		margin-right: auto;
	}

	iframe {
		height: 400px;
		width: 100%;
	}

	svg.hotarea {
		pointer-events: none;
		position: absolute;
		display: block;

		width: 698px;
		height: 400px;
		z-index: 10;

		left: 50%;
		margin-left: -349px;

		g {
			pointer-events: auto;
		}
	}

	.hotspot-label {
		position:absolute;
		z-index: 15;

		max-width: 180px;

		padding: 8px;

		border-radius: 5px;
		color: #fff;
		background: rgba(0,0,0,0.8);
		font-weight: normal;

		cursor: pointer;
	}
}

rect, ellipse, polygon {
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}

	&:focus {
		outline: thick solid $blue-focus;
	}

	&:active {
		outline: 0;
	}

}

.expand-btn {
	padding: 8px 8px;

	font-size:16px;
	font-weight:bold;
	background:$blue;
	border-radius:5px;
	border: 0px;
	color:#ffffff;

	cursor: pointer;

	position: absolute;
	right: 8px;
	top: 8px;

	&:hover, &:focus {
		background: $blue-lighter;
	}
}

/** Copied from this-or-that-widget **/

.lightbox {
	position: absolute;
	z-index: -500;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;

	background: rgba(55,55,55,0.75);

	cursor: pointer;

	&.show {
		z-index: 500;
	}

	.lightbox-content {
		position: relative;
		width: 80%;
		height: 80%;
		margin: 10%;
		background: rgba(45,45,45,1);

		cursor: default;

		.lightbox-close {
			position: absolute;
			top: 5px;
			right: 5px;
			z-index: 1;

			width: 30px;
			height: 30px;

			border: none;
			border-radius: 5px;

			color: $white;
			background: $red;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);

			font-size: 18px;
			font-weight: bold;
			text-align: center;

			cursor: pointer;

			&:hover {
				background: $red-darker;
			}

			 &:focus {
				 outline: thick solid $blue-focus;
			 }
		}

		.lightbox-video {
			width: calc(100% - 20px);
			height: calc(100% - 20px);
			margin-top: 10px;
			margin-left: 10px;
		}

		.lightbox-image-container {
			height: calc(100% - 20px);
			margin-top: 10px;
			margin-left: 10px;
			overflow: auto;
		}

		.lightbox-image {
			height: calc(100% - 20px);
			position: relative;
			display: block;
			margin: 20px auto 0 auto;

			&:focus {
				outline: thick solid $blue-focus;
			}
		}

		.lightbox-image:hover {
			cursor: zoom-in;
		}

		.lightbox-image-zoom {
			width: calc(100% - 20px);
			height: auto;
			object-fit: cover;
			overflow: auto;
		}

		.lightbox-image-zoom:hover {
			cursor: zoom-out;
		}
	}
}
